In [1]:
!pip install beautifulsoup4
!pip install requests

Requirement already satisfied: beautifulsoup4 in c:\users\alebe\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\alebe\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied: requests in c:\users\alebe\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (2.10)

In [2]:
url ='https://en.wikipedia.org/wiki/Democracy_Index'

In [64]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np


page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')


def define_title(soup, tag, class_type, class_value):
    scrambled_titles_list = []
    scrambled_titles = soup.find_all(tag, {class_type : class_value})

    for scrambled_title in scrambled_titles:
        scrambled_titles_list.append(scrambled_title)
        
    return scrambled_titles_list
    
td_class_titles = define_title(soup, 'tr', "", "")
# print(td_class_titles)

def removed_tag_titles(soups=soup, tag= '', regex = ''):
    import re

    title_list = []

    for soup in soups:
        text_corpus = soup.find_all(tag) 
        if tag == '':
            text_corpus = soups
        if type(regex) == str:
            regex_in = regex
        elif type(regex) == list:
            regex_in = '|'.join(regex)
        else:
            raise ValueError('Use only a regex string or list of regex strings')

        for node in text_corpus:
            text = node.get_text()
            text= re.sub(regex_in, '', text)
            title_list.append(text)
            
    return title_list

filtered_titles = removed_tag_titles(td_class_titles, 'th' , ["\[[^\]]*\]", '\n'])
#print(filtered_titles)

def make_titles(arr):
    final_titles = {}
    j = 0
    for i, val in enumerate(arr, 1):
        if val != '\n':
            j += 1
            final_titles[f'Table_{j}'] = val
    return final_titles

final_titles = make_titles(filtered_titles)



def locate_tables(soup=soup):
    tbody_class_tables_dict = {}
    wikitable_sortable_class = soup.find_all("table", {"class": "wikitable sortable"})
    for i, wiki_table in enumerate(wikitable_sortable_class):
        tbody_class_tables_dict[f'Table_{i + 1}'] = wikitable_sortable_class[i]
            
    return tbody_class_tables_dict

tbody_class_tables_dict = locate_tables(soup)

def removed_tag_tables(soup=soup, tag= '', regex = ''):
    import re
    text_corpus = soup.find_all(tag) 
    final_text = []
    
    if type(regex) == str:
        regex_in = regex
    elif type(regex) == list:
        regex_in = '|'.join(regex)
    else:
        raise ValueError('Use only a regex string or list of regex strings')

    for node in text_corpus:
        text = node.get_text()
        text= re.sub(regex_in, '', text)
        final_text.append(text)
    return final_text


def filter_tables(tables_dict):        
    filtered_table_dict = {}
    for key, val in tables_dict.items():
        tbody_class_table_clean = removed_tag_tables(val, 'tr' , ["\[[^\]]*\]", '\xa0', ',', '\n$', '^\n', '\xad'])
        filtered_table_dict[key] = tbody_class_table_clean        


    return filtered_table_dict

filter_tables_dict = filter_tables(tbody_class_tables_dict)


def fill_nulls(tables_dict):
    #print(tables_dict)
    
    import numpy as np
    filled_filter_tables_dict = {}
    for key, table in tables_dict.items():
        filled_nulls_table = []
        for i, row in enumerate(table):
            while '\n\n\n' in row:
                row = row.replace('\n\n\n', '\nNaN\n')
            if '\n' in row[0:1]:
                row_filled = 'NaN' + row     
            if '\n' in row[-2:]:
                row_filled = row+'NaN' 
                filled_nulls_table.append(row_filled)
            else:
                row_filled = row
                filled_nulls_table.append(row_filled)
        filled_filter_tables_dict[key] = filled_nulls_table
    return filled_filter_tables_dict
    
filtered_tables_rows = fill_nulls(filter_tables_dict)
#print(filtered_tables_rows)

def make_tables(tables_dict):
    import re   
    final_tables_dict = {}
    for key, table in tables_dict.items():
        filtered_tables_rows_dict = {}
        for i, val in enumerate(table, 1):
            row = re.split(r"\n", val)
            while "" in row:
                row.remove("")
            filtered_tables_rows_dict[f'Row_{i}'] = row

        final_tables_dict[key] = filtered_tables_rows_dict
    return final_tables_dict
    
final_rows = make_tables(filtered_tables_rows)
#tables_dict = {key: tables{key: rows[values]}}

def make_dataframe(tables_dict):
    tables_to_df = {}
    removed_tables= {}
    for table_key, table in tables_dict.items():
        same = True
        len_avg = []
        for i in range(len(table.values()) - 1):
            length = len(list(table.values())[i])
            len_avg.append(length)
            if len(list(table.values())[i+1]) == length:
#                 print(f'good: {list(table.values())[i], list(table.values())[i+1]}')
                pass
            else:
#                 print(f'bad: {list(table.values())[i], list(table.values())[i+1]}')
                same = False
        if same == True:
            tables_to_df[table_key] = table
        else:
            keep_rows = input(f'Trable {table_key} could not be added, would you like to add the table with missing values?(y/n) \n')
            while keep_rows.lower() not in ["yes", "y", "no", "n"]:
                keep_rows = input(f'Sorry, "{keep_rows}" is not a valid input.\nTable {table_key} could not be added, would you like to add the table with missing values?(y/n)')
            if keep_rows.lower() == "no" or keep_rows.lower() == "n":
                print(f'{table_key} was not be added, the length of the rows are not the same')
                same = True
            elif keep_rows.lower() == "yes" or keep_rows.lower() == "y":
                mode = max(set(len_avg), key=len_avg.count)
                
                tables_to_df[table_key] = {}
                removed_tables[table_key] = {}
                for row_key, row in table.items():
                    length = len(row)
                    if len(row) == mode:
                        tables_to_df[table_key][row_key] = row
                    else:
                        print(f'Popped key:{row_key} and pop value: {row}')
                        removed_tables[table_key][row_key] = row
    final_tables = {}
    for key, table in tables_to_df.items():
        final_tables[key] = pd.DataFrame.from_dict(table).transpose()
        final_tables[key] = final_tables.get(key).reset_index(drop = True)
        final_tables[key].columns = final_tables[key].iloc[0]
        final_tables[key] = final_tables[key][1:]
    return final_tables, removed_tables

final_tables_tup = make_dataframe(final_rows)
final_tables = final_tables_tup[0]
removed_tables = final_tables_tup[1]

def name_tables(titles, tables):

    final_df = {titles[key] : value for key, value in tables.items()} 
    return final_df


final_df = name_tables(final_titles, final_tables)


path = r'C:\Users\alebe\Documents\coding-temple-jan2021\capstone\csv_tables'+'\\'
doc_title= 'Democracy_Index'
def finaldf_to_csv(final_df):
    for i, table in enumerate(final_df): 
        final_df[table].to_csv(path+doc_title+str(table)+'.csv')
        print(f'Table_{i + 1} was saved in CSV format!')
finaldf_to_csv(final_df)

def removeddf_to_csv(removed_tables):
    if removed_tables != {}: 
        for i, table in enumerate(removed_tables, 1):
            with open(path+doc_title+'table'+str(i)+'.txt', 'w') as output:
                for key, row in removed_tables[f'Table_{i}'].items():
                    output.write(f"Table:{str(table)}, row number:{str(key)}, row content: {str(row)}" + '\n')
                print(doc_title+f' was saved in a TXT format! table = {i}')

removeddf_to_csv(removed_tables)

Trable Table_1 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_9 and pop value: ['World', '167', '5.52', '5.55', '5.46', '5.49', '5.52', '5.53', '5.55', '5.55', '5.52', '5.48', '5.48', '5.44', '5.37']
Trable Table_2 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_9 and pop value: ['World', '167', '57', '35', '52', '23', '5.37']
Trable Table_3 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Region', '2020 Rank', 'Country', 'Regime type', '2006', '2008', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
Popped key:Row_2 and pop value: ['North America', '5', 'Canada', 'Full democracy', '9.07', '9.07', '9.08', '9.08', '9.08', '9.08', '9.08', '9.08', '9.15', '9.15', '9.15', '9.22', '9.24']
Popped key:Row_4 and pop value: ['Western Europe', '18', 'Austria', 'Full democracy', '8.69', '8.49', '8.49', '8.49', '8.62', '8.48', '8.54', '8.54', '8.41', '8.42', '8.29', '8.29', '8.16']
Popped key:Row_25 and pop value: ['Central and Eastern Europe', '71', 'Albania', 'Flawed democracy', '5.91', '5.91', '5.86', '5.81', '5.67', '5.67', '5.67', '5.91', '5.91', '5.98', '5.98', '5.89', '6.08']
Popped key:Row_53 and pop value: ['Latin America and the Caribbean', '48', 'Argentina', 'Flawed democracy', '6.63', '6.63', '6.84', '6.84', '6.84', '6.84', '6.84', '7.02', '6.96', '6.96', '7.02', '7.02', '6.95']
Popped key:Row_77 and pop value: ['Asia and Australasia', '139', 'Afghanistan', 'Authoritarian', '3.06', '3.02', '2.48', '2.48', '2.48', '2.48', '2.77', '2.77', '2.55', '2.55', '2.97', '2.85', '2.85']
Popped key:Row_105 and pop value: ['Middle East and North Africa', '115', 'Algeria', 'Authoritarian', '3.17', '3.32', '3.44', '3.44', '3.83', '3.83', '3.83', '3.95', '3.56', '3.56', '3.50', '4.01', '3.77']
Popped key:Row_125 and pop value: ['Sub-Saharan Africa', '117', 'Angola', 'Authoritarian', '2.41', '3.35', '3.32', '3.32', '3.35', '3.35', '3.35', '3.35', '3.40', '3.62', '3.62', '3.72', '3.66']
Trable Table_4 could not be added, would you like to add the table with missing values?(y/n)
ya
Sorry, "ya" is not a valid input.
Table Table_4 could not be added, would you like to add the table with missing values?(y/n)y
Popped key:Row_2 and pop value: ['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_3 and pop value: []
Popped key:Row_4 and pop value: ['North America']
Popped key:Row_5 and pop value: ['Canada', '9.07', 'NaN', ' 0.01', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.07']
Popped key:Row_7 and pop value: ['Western Europe']
Popped key:Row_11 and pop value: ['Denmark', '9.52', 'NaN', 'NaN', 'NaN', ' 0.14', ' 0.27', 'NaN', ' 0.09', ' 0.02', 'NaN', 'NaN']
Popped key:Row_12 and pop value: ['Finland', '9.25', 'NaN', ' 0.06', ' 0.13', 'NaN', ' 0.03', 'NaN', 'NaN', 'NaN', ' 0.11', ' 0.11']
Popped key:Row_16 and pop value: ['Iceland', '9.71', ' 0.06', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.08', ' 0.08', 'NaN', 'NaN']
Popped key:Row_19 and pop value: ['Luxembourg', '9.10', 'NaN', ' 0.22', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN']
Popped key:Row_22 and pop value: ['Norway', '9.55', ' 0.13', ' 0.12', 'NaN', ' 0.13', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', 'NaN']
Popped key:Row_26 and pop value: ['Switzerland', '9.02', ' 0.13', ' 0.06', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', 'NaN']
Popped key:Row_29 and pop value: ['Central and Eastern Europe']
Popped key:Row_52 and pop value: ['Slovakia', '7.40', ' 0.07', ' 0.02', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.13', ' 0.06', ' 0.07']
Popped key:Row_55 and pop value: ['Turkmenistan', '1.83', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN']
Popped key:Row_58 and pop value: ['Latin America and the Caribbean']
Popped key:Row_59 and pop value: ['Argentina', '6.63', 'NaN', ' 0.21', 'NaN', 'NaN', 'NaN', ' 0.18', ' 0.06', 'NaN', ' 0.06', 'NaN']
Popped key:Row_65 and pop value: ['Cuba', '3.52', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.06', ' 0.15', ' 0.31', ' 0.16']
Popped key:Row_72 and pop value: ['Honduras', '6.25', ' 0.07', ' 0.42', ' 0.08', 'NaN', 'NaN', 'NaN', ' 0.08', ' 0.20', ' 0.09', ' 0.21']
Popped key:Row_73 and pop value: ['Jamaica', '7.34', ' 0.13', 'NaN', ' 0.08', ' 0.26', 'NaN', 'NaN', 'NaN', ' 0.10', ' 0.27', ' 0.06']
Popped key:Row_81 and pop value: ['Uruguay', '7.96', ' 0.12', ' 0.02', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.05', ' 0.26', 'NaN']
Popped key:Row_83 and pop value: ['Asia and Australasia']
Popped key:Row_94 and pop value: ['Japan', '8.15', ' 0.10', ' 0.17', 'NaN', 'NaN', 'NaN', ' 0.12', ' 0.03', ' 0.11', ' 0.11', 'NaN']
Popped key:Row_100 and pop value: ['New Zealand', '9.01', ' 0.18', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_101 and pop value: [' North Korea ', '1.03', ' 0.17', ' 0.22', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_103 and pop value: ['Papua New Guinea', '6.54', 'NaN', 'NaN', ' 0.22', 'NaN', ' 0.04', ' 0.33', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_112 and pop value: ['Middle East and North Africa']
Popped key:Row_126 and pop value: ['Qatar', '2.78', ' 0.14', ' 0.17', ' 0.09', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.01', 'NaN', 'NaN']
Popped key:Row_127 and pop value: ['Saudi Arabia', '1.92', ' 0.02', ' 0.06', ' 0.07', ' 0.06', ' 0.11', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN']
Popped key:Row_129 and pop value: ['Syria', '2.36', ' 0.18', ' 0.13', ' 0.32', ' 0.36', ' 0.23', ' 0.12', ' 0.31', 'NaN', 'NaN', 'NaN']
Popped key:Row_133 and pop value: ['Sub-Saharan Africa']
Popped key:Row_142 and pop value: ['Chad', '1.65', ' 0.13', 'NaN', ' 0.10', 'NaN', ' 0.12', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN']
Popped key:Row_144 and pop value: [' Republic of the Congo ', '3.19', ' 0.25', ' 0.05', 'NaN', 'NaN', 'NaN', ' 0.02', 'NaN', ' 0.34', ' 0.06', ' 0.20']
Popped key:Row_149 and pop value: ['Eritrea', '2.31', 'NaN', 'NaN', ' 0.03', ' 0.06', 'NaN', ' 0.04', ' 0.07', 'NaN', 'NaN', 'NaN']
Popped key:Row_155 and pop value: ['Guinea', '2.02', ' 0.07', ' 0.70', 'NaN', 'NaN', ' 0.05', ' 0.17', ' 0.13', 'NaN', 'NaN', 'NaN']
Popped key:Row_174 and pop value: ['Togo', '1.75', ' 0.68', ' 1.02', 'NaN', 'NaN', 'NaN', ' 0.04', ' 0.09', ' 0.27', ' 0.05', ' 0.20']
Trable Table_5 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_2 and pop value: []
Popped key:Row_3 and pop value: ['Full democracies']
Popped key:Row_27 and pop value: ['Flawed democracies']
Popped key:Row_80 and pop value: ['Hybrid regimes']
Popped key:Row_116 and pop value: ['Authoritarian regimes']
Table_1 was saved in CSV format!
Table_2 was saved in CSV format!
Table_3 was saved in CSV format!
Table_4 was saved in CSV format!
Table_5 was saved in CSV format!
Democracy_Indexwas saved in a TXT format! table = 1
Democracy_Indexwas saved in a TXT format! table = 2
Democracy_Indexwas saved in a TXT format! table = 3
Democracy_Indexwas saved in a TXT format! table = 4
Democracy_Indexwas saved in a TXT format! table = 5

In [5]:
import os
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np



page = requests.get(url)


### FILL OUT BELOW ###
soup = BeautifulSoup(page.content, 'html.parser')

doc_title= 'Democracy_Index'

path_dir = r'C:\Users\alebe\Documents\coding-temple-jan2021\capstone\csv_tables'

### FILL OUT ABOVE ###
path_join = os.path.join(path_dir, doc_title)
try: 
    path = os.makedirs(path_join)
except OSError as error:  
    print(error)   
    
def locate_tables(soup=soup, tag="table", class_type="class", class_value="wikitable sortable"):
    tbody_class_tables_dict = {}
    wikitable_sortable_class = soup.find_all(tag, {class_type : class_value})
    for i, wiki_table in enumerate(wikitable_sortable_class):
        tbody_class_tables_dict[f'Table_{i + 1}'] = wikitable_sortable_class[i]
            
    return tbody_class_tables_dict

tbody_class_tables_dict = locate_tables(soup, "table", "class", "wikitable")
#print(tbody_class_tables_dict)

def removed_tag_tables(soup=soup, tag= '', regex = ''):
    import re
    text_corpus = soup.find_all(tag) 
    final_text = []
    
    if type(regex) == str:
        regex_in = regex
    elif type(regex) == list:
        regex_in = '|'.join(regex)
    else:
        raise ValueError('Use only a regex string or list of regex strings')

    for node in text_corpus:
        text = node.get_text()
        text= re.sub(regex_in, '', text)
        final_text.append(text)
    return final_text


def filter_tables(tables_dict):        
    filtered_table_dict = {}
    for key, val in tables_dict.items():
        tbody_class_table_clean = removed_tag_tables(val, 'tr' , ["\[[^\]]*\]", '\xa0', ',', '\n$', '^\n', '\xad', '\u200b', '\u0394'])
        filtered_table_dict[key] = tbody_class_table_clean        


    return filtered_table_dict

filter_tables_dict = filter_tables(tbody_class_tables_dict)

def fill_nulls(tables_dict):
    #print(tables_dict)
    
    import numpy as np
    filled_filter_tables_dict = {}
    for key, table in tables_dict.items():
        filled_nulls_table = []
        for i, row in enumerate(table):
            while '\n\n\n' in row:
                row = row.replace('\n\n\n', '\nNaN\n')
            while '\n\n' in row:
                row = row.replace('\n\n', '\nNaN\n')
            if '\n' in row[0:1]:
                row_filled = 'NaN' + row     
            if '\n' in row[-2:]:
                row_filled = row+'NaN' 
                filled_nulls_table.append(row_filled)
            else:
                row_filled = row
                filled_nulls_table.append(row_filled)
        filled_filter_tables_dict[key] = filled_nulls_table
    return filled_filter_tables_dict
    
filtered_tables_rows = fill_nulls(filter_tables_dict)
#print(filtered_tables_rows)

def make_tables(tables_dict):
    import re   
    final_tables_dict = {}
    for key, table in tables_dict.items():
        filtered_tables_rows_dict = {}
        for i, val in enumerate(table, 1):
            row = re.split(r"\n", val)
            while "" in row:
                row.remove("")
            filtered_tables_rows_dict[f'Row_{i}'] = row

        final_tables_dict[key] = filtered_tables_rows_dict
    return final_tables_dict
    
final_rows = make_tables(filtered_tables_rows)
#print(final_rows)

def make_dataframe(tables_dict):
    tables_to_df = {}
    removed_tables= {}
    for table_key, table in tables_dict.items():
        same = True
        len_avg = []
        for i in range(len(table.values()) - 1):
            length = len(list(table.values())[i])
            len_avg.append(length)
            if len(list(table.values())[i+1]) == length:
#                 print(f'good: {list(table.values())[i], list(table.values())[i+1]}')
                pass
            else:
#                 print(f'bad: {list(table.values())[i], list(table.values())[i+1]}')
                same = False
        if same == True:
            tables_to_df[table_key] = table
        else:
            keep_rows = input(f'{table_key} could not be added, would you like to add the table with missing values?(y/n) \n')
            while keep_rows.lower() not in ["yes", "y", "no", "n"]:
                keep_rows = input(f'Sorry, "{keep_rows}" is not a valid input.\nTable {table_key} could not be added, would you like to add the table with missing values?(y/n)')
            if keep_rows.lower() == "no" or keep_rows.lower() == "n":
                print(f'{table_key} was not be added, the length of the rows are not the same')
                same = True
            elif keep_rows.lower() == "yes" or keep_rows.lower() == "y":
                mode = max(set(len_avg), key=len_avg.count)
                
                tables_to_df[table_key] = {}
                removed_tables[table_key] = {}
                for row_key, row in table.items():
                    length = len(row)
                    if len(row) == mode:
                        tables_to_df[table_key][row_key] = row
                    else:
                        print(f'Popped key:{row_key} and pop value: {row}')
                        removed_tables[table_key][row_key] = row
    final_tables = {}
    for key, table in tables_to_df.items():
        final_tables[key] = pd.DataFrame.from_dict(table).transpose()
        final_tables[key] = final_tables.get(key).reset_index(drop = True)
        final_tables[key].columns = final_tables[key].iloc[0]
        final_tables[key] = final_tables[key][1:]
    return final_tables, removed_tables

final_tables_tup = make_dataframe(final_rows)
#print(final_tables_tup)
final_tables = final_tables_tup[0]
removed_tables = final_tables_tup[1]



def finaldf_to_csv(final_df):
    for i, table in enumerate(final_df): 
        final_df[table].to_csv(path_dir+'/'+doc_title+'/'+doc_title+'_'+str(table)+'.csv')
        print(f'Table_{i + 1} was saved in CSV format!')
finaldf_to_csv(final_tables)


def removeddf_to_csv(removed_tables):
    if removed_tables != {}: 
        for table in removed_tables:
            with open(path_dir+'/'+doc_title+'/'+doc_title+'_'+str(table)+'.txt', 'w') as output:
                for key, row in removed_tables[f'{table}'].items():
                    output.write(f"table:{str(table)}, row number:{str(key)}, row content: {str(row)}" + '\n')
                print(doc_title+f' was saved in a TXT format! {table}')


removeddf_to_csv(removed_tables)

[WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\alebe\\Documents\\coding-temple-jan2021\\capstone\\csv_tables\\Democracy_Index'
Table_1 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Type of regime', 'NaN', 'Colors', 'NaN', 'Score', 'NaN', 'Countries', 'NaN', 'Countries (%)', 'NaN', 'World population (%)']
Table_2 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Rank', 'NaN', 'Region', 'NaN', 'Countries', 'NaN', '2006', 'NaN', '2008', 'NaN', '2010', 'NaN', '2011', 'NaN', '2012', 'NaN', '2013', 'NaN', '2014', 'NaN', '2015', 'NaN', '2016', 'NaN', '2017', 'NaN', '2018', 'NaN', '2019', 'NaN', '2020']
Popped key:Row_9 and pop value: ['World', '167', '5.52', '5.55', '5.46', '5.49', '5.52', '5.53', '5.55', '5.55', '5.52', 'NaN', '5.48', 'NaN', '5.48', 'NaN', '5.44', 'NaN', '5.37']
Table_3 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Rank', 'NaN', 'Region', 'NaN', 'Countries', 'NaN', 'Authoritarian', 'NaN', 'Hybrid regime', 'NaN', 'Flawed democracy', 'NaN', 'Full democracy', 'NaN', 'Average score']
Popped key:Row_9 and pop value: ['NaN', 'World', '167', '57', '35', '52', '23', '5.37']
Table_4 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Region', 'NaN', '2020 Rank', 'NaN', 'Country', 'NaN', 'Regime type', 'NaN', '2006', 'NaN', '2008', 'NaN', '2010', 'NaN', '2011', 'NaN', '2012', 'NaN', '2013', 'NaN', '2014', 'NaN', '2015', 'NaN', '2016', 'NaN', '2017', 'NaN', '2018', 'NaN', '2019', 'NaN', '2020']
Popped key:Row_2 and pop value: ['North America', 'NaN', '5', 'NaN', 'Canada', 'NaN', 'Full democracy', 'NaN', '9.07', 'NaN', '9.07', 'NaN', '9.08', 'NaN', '9.08', 'NaN', '9.08', 'NaN', '9.08', 'NaN', '9.08', 'NaN', '9.08', 'NaN', '9.15', 'NaN', '9.15', 'NaN', '9.15', 'NaN', '9.22', 'NaN', '9.24']
Popped key:Row_4 and pop value: ['Western Europe', 'NaN', '18', 'NaN', 'Austria', 'NaN', 'Full democracy', 'NaN', '8.69', 'NaN', '8.49', 'NaN', '8.49', 'NaN', '8.49', 'NaN', '8.62', 'NaN', '8.48', 'NaN', '8.54', 'NaN', '8.54', 'NaN', '8.41', 'NaN', '8.42', 'NaN', '8.29', 'NaN', '8.29', 'NaN', '8.16']
Popped key:Row_25 and pop value: ['Central and Eastern Europe', 'NaN', '71', 'NaN', 'Albania', 'NaN', 'Flawed democracy', 'NaN', '5.91', 'NaN', '5.91', 'NaN', '5.86', 'NaN', '5.81', 'NaN', '5.67', 'NaN', '5.67', 'NaN', '5.67', 'NaN', '5.91', 'NaN', '5.91', 'NaN', '5.98', 'NaN', '5.98', 'NaN', '5.89', 'NaN', '6.08']
Popped key:Row_53 and pop value: ['Latin America and the Caribbean', 'NaN', '48', 'NaN', 'Argentina', 'NaN', 'Flawed democracy', 'NaN', '6.63', 'NaN', '6.63', 'NaN', '6.84', 'NaN', '6.84', 'NaN', '6.84', 'NaN', '6.84', 'NaN', '6.84', 'NaN', '7.02', 'NaN', '6.96', 'NaN', '6.96', 'NaN', '7.02', 'NaN', '7.02', 'NaN', '6.95']
Popped key:Row_77 and pop value: ['Asia and Australasia', 'NaN', '139', 'NaN', 'Afghanistan', 'NaN', 'Authoritarian', 'NaN', '3.06', 'NaN', '3.02', 'NaN', '2.48', 'NaN', '2.48', 'NaN', '2.48', 'NaN', '2.48', 'NaN', '2.77', 'NaN', '2.77', 'NaN', '2.55', 'NaN', '2.55', 'NaN', '2.97', 'NaN', '2.85', 'NaN', '2.85']
Popped key:Row_105 and pop value: ['Middle East and North Africa', 'NaN', '115', 'NaN', 'Algeria', 'NaN', 'Authoritarian', 'NaN', '3.17', 'NaN', '3.32', 'NaN', '3.44', 'NaN', '3.44', 'NaN', '3.83', 'NaN', '3.83', 'NaN', '3.83', 'NaN', '3.95', 'NaN', '3.56', 'NaN', '3.56', 'NaN', '3.50', 'NaN', '4.01', 'NaN', '3.77']
Popped key:Row_125 and pop value: ['Sub-Saharan Africa', 'NaN', '117', 'NaN', 'Angola', 'NaN', 'Authoritarian', 'NaN', '2.41', 'NaN', '3.35', 'NaN', '3.32', 'NaN', '3.32', 'NaN', '3.35', 'NaN', '3.35', 'NaN', '3.35', 'NaN', '3.35', 'NaN', '3.40', 'NaN', '3.62', 'NaN', '3.62', 'NaN', '3.72', 'NaN', '3.66']
Table_5 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Country', 'NaN', '2006', 'NaN', '2008', 'NaN', '2010', 'NaN', '2011', 'NaN', '2012', 'NaN', '2013', 'NaN', '2014', 'NaN', '2015', 'NaN', '2016', 'NaN', '2017', 'NaN', '2018', 'NaN', '2019']
Popped key:Row_2 and pop value: ['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_3 and pop value: []
Popped key:Row_4 and pop value: ['North America']
Popped key:Row_5 and pop value: ['Canada', 'NaN', '9.07', 'NaN', 'NaN', ' 0.01', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', ' 0.07']
Popped key:Row_6 and pop value: ['United States', 'NaN', '8.22', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.02', 'NaN']
Popped key:Row_7 and pop value: ['Western Europe']
Popped key:Row_9 and pop value: ['Belgium', 'NaN', '8.15', 'NaN', ' 0.01', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.12', 'NaN', 'NaN', ' 0.16', 'NaN', ' 0.01', 'NaN', 'NaN', ' 0.14']
Popped key:Row_10 and pop value: ['Cyprus', 'NaN', '7.60', 'NaN', ' 0.10', 'NaN', ' 0.41', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', ' 0.13', 'NaN', ' 0.12', 'NaN', ' 0.06', 'NaN', 'NaN']
Popped key:Row_11 and pop value: ['Denmark', 'NaN', '9.52', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.14', 'NaN', ' 0.27', 'NaN', 'NaN', ' 0.09', 'NaN', ' 0.02', 'NaN', 'NaN']
Popped key:Row_12 and pop value: ['Finland', 'NaN', '9.25', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.13', 'NaN', 'NaN', ' 0.03', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', ' 0.11']
Popped key:Row_15 and pop value: ['Greece', 'NaN', '8.13', 'NaN', 'NaN', ' 0.21', 'NaN', ' 0.27', 'NaN', 'NaN', 'NaN', ' 0.20', 'NaN', 'NaN', ' 0.22', 'NaN', ' 0.06', 'NaN', 'NaN', ' 0.14']
Popped key:Row_16 and pop value: ['Iceland', 'NaN', '9.71', 'NaN', ' 0.06', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.08', 'NaN', ' 0.08', 'NaN', 'NaN']
Popped key:Row_19 and pop value: ['Luxembourg', 'NaN', '9.10', 'NaN', 'NaN', ' 0.22', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN']
Popped key:Row_20 and pop value: ['Malta', 'NaN', '8.39', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.24', 'NaN', ' 0.06', 'NaN', ' 0.26']
Popped key:Row_22 and pop value: ['Norway', 'NaN', '9.55', 'NaN', ' 0.13', 'NaN', ' 0.12', 'NaN', 'NaN', ' 0.13', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', 'NaN']
Popped key:Row_23 and pop value: ['Portugal', 'NaN', '8.16', 'NaN', ' 0.11', 'NaN', ' 0.03', 'NaN', ' 0.21', 'NaN', ' 0.11', 'NaN', ' 0.27', 'NaN', ' 0.14', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.02', 'NaN', 'NaN', ' 0.19']
Popped key:Row_25 and pop value: ['Sweden', 'NaN', '9.88', 'NaN', 'NaN', ' 0.38', 'NaN', 'NaN', ' 0.23', 'NaN', 'NaN', 'NaN', ' 0.28', 'NaN', ' 0.06', 'NaN', 'NaN', 'NaN']
Popped key:Row_26 and pop value: ['Switzerland', 'NaN', '9.02', 'NaN', ' 0.13', 'NaN', ' 0.06', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', 'NaN']
Popped key:Row_27 and pop value: ['Turkey', 'NaN', '5.70', 'NaN', ' 0.01', 'NaN', ' 0.04', 'NaN', 'NaN', ' 0.03', 'NaN', ' 0.13', 'NaN', ' 0.51', 'NaN', 'NaN', ' 0.08', 'NaN', ' 0.16', 'NaN', ' 0.51', 'NaN', ' 0.28']
Popped key:Row_29 and pop value: ['Central and Eastern Europe']
Popped key:Row_30 and pop value: ['Albania', 'NaN', '5.91', 'NaN', 'NaN', ' 0.05', 'NaN', ' 0.05', 'NaN', ' 0.14', 'NaN', 'NaN', 'NaN', ' 0.24', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.09']
Popped key:Row_31 and pop value: ['Armenia', 'NaN', '4.15', 'NaN', ' 0.06', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.11', 'NaN', ' 0.13', 'NaN', ' 0.12', 'NaN', ' 0.23', 'NaN', ' 0.68', 'NaN', ' 0.75']
Popped key:Row_34 and pop value: ['Bosnia and Herzegovina', 'NaN', '5.78', 'NaN', ' 0.08', 'NaN', ' 0.38', 'NaN', ' 0.08', 'NaN', ' 0.13', 'NaN', ' 0.09', 'NaN', ' 0.24', 'NaN', ' 0.05', 'NaN', ' 0.04', 'NaN', 'NaN', ' 0.11', 'NaN', ' 0.12']
Popped key:Row_35 and pop value: ['Bulgaria', 'NaN', '7.10', 'NaN', ' 0.08', 'NaN', ' 0.18', 'NaN', ' 0.06', 'NaN', ' 0.06', 'NaN', ' 0.11', 'NaN', ' 0.10', 'NaN', ' 0.41', 'NaN', ' 0.13', 'NaN', ' 0.02', 'NaN', 'NaN']
Popped key:Row_36 and pop value: ['Croatia', 'NaN', '7.04', 'NaN', 'NaN', ' 0.23', 'NaN', ' 0.08', 'NaN', ' 0.20', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.18', 'NaN', ' 0.12', 'NaN', ' 0.06', 'NaN']
Popped key:Row_37 and pop value: ['Czech Republic', 'NaN', '8.17', 'NaN', ' 0.02', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.13', 'NaN', ' 0.12', 'NaN', 'NaN', ' 0.12', 'NaN', ' 0.20', 'NaN', ' 0.07', 'NaN']
Popped key:Row_39 and pop value: ['Georgia', 'NaN', '4.90', 'NaN', ' 0.28', 'NaN', ' 0.03', 'NaN', ' 0.15', 'NaN', ' 0.79', 'NaN', ' 0.42', 'NaN', ' 0.13', 'NaN', ' 0.06', 'NaN', ' 0.05', 'NaN', 'NaN', ' 0.43', 'NaN', ' 0.08']
Popped key:Row_40 and pop value: ['Hungary', 'NaN', '7.53', 'NaN', ' 0.09', 'NaN', ' 0.23', 'NaN', ' 0.17', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.06', 'NaN', ' 0.12', 'NaN', ' 0.08', 'NaN', ' 0.01', 'NaN']
Popped key:Row_41 and pop value: ['Kazakhstan', 'NaN', '3.62', 'NaN', ' 0.17', 'NaN', ' 0.15', 'NaN', ' 0.06', 'NaN', ' 0.29', 'NaN', ' 0.11', 'NaN', ' 0.11', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.12', 'NaN']
Popped key:Row_42 and pop value: ['Kyrgyzstan', 'NaN', '4.08', 'NaN', ' 0.03', 'NaN', ' 0.26', 'NaN', ' 0.03', 'NaN', ' 0.35', 'NaN', 'NaN', ' 0.55', 'NaN', ' 0.09', 'NaN', ' 0.40', 'NaN', ' 0.18', 'NaN', 'NaN', ' 0.22']
Popped key:Row_43 and pop value: ['Latvia', 'NaN', '7.37', 'NaN', ' 0.14', 'NaN', ' 0.18', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.43', 'NaN', ' 0.11', 'NaN', ' 0.06', 'NaN', ' 0.06', 'NaN', ' 0.13', 'NaN', ' 0.11']
Popped key:Row_44 and pop value: ['Lithuania', 'NaN', '7.43', 'NaN', ' 0.07', 'NaN', ' 0.12', 'NaN', 'NaN', 'NaN', ' 0.30', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.06', 'NaN', ' 0.09', 'NaN']
Popped key:Row_46 and pop value: ['Montenegro', 'NaN', '6.57', 'NaN', ' 0.14', 'NaN', ' 0.16', 'NaN', ' 0.12', 'NaN', ' 0.10', 'NaN', ' 0.11', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.29', 'NaN', ' 0.03', 'NaN', ' 0.05', 'NaN', ' 0.09']
Popped key:Row_47 and pop value: ['North Macedonia', 'NaN', '6.33', 'NaN', ' 0.12', 'NaN', ' 0.05', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.09', 'NaN', ' 0.23', 'NaN', ' 0.79', 'NaN', ' 0.34', 'NaN', ' 0.30', 'NaN', ' 0.10']
Popped key:Row_50 and pop value: ['Russia', 'NaN', '5.02', 'NaN', ' 0.54', 'NaN', ' 0.22', 'NaN', ' 0.34', 'NaN', ' 0.18', 'NaN', ' 0.15', 'NaN', ' 0.20', 'NaN', ' 0.08', 'NaN', ' 0.07', 'NaN', ' 0.07', 'NaN', ' 0.23', 'NaN', ' 0.17']
Popped key:Row_51 and pop value: ['Serbia', 'NaN', '6.62', 'NaN', ' 0.13', 'NaN', ' 0.16', 'NaN', 'NaN', 'NaN', ' 0.34', 'NaN', ' 0.04', 'NaN', 'NaN', ' 0.14', 'NaN', ' 0.16', 'NaN', 'NaN']
Popped key:Row_53 and pop value: ['Slovenia', 'NaN', '7.96', 'NaN', 'NaN', ' 0.27', 'NaN', ' 0.07', 'NaN', ' 0.12', 'NaN', 'NaN', ' 0.31', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.01', 'NaN', 'NaN']
Popped key:Row_54 and pop value: ['Tajikistan', 'NaN', '2.45', 'NaN', 'NaN', ' 0.06', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.14', 'NaN', ' 0.42', 'NaN', ' 0.06', 'NaN', ' 0.04', 'NaN', 'NaN']
Popped key:Row_55 and pop value: ['Turkmenistan', 'NaN', '1.83', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN']
Popped key:Row_56 and pop value: ['Ukraine', 'NaN', '6.94', 'NaN', 'NaN', ' 0.64', 'NaN', ' 0.36', 'NaN', ' 0.03', 'NaN', ' 0.07', 'NaN', ' 0.42', 'NaN', ' 0.28', 'NaN', 'NaN', ' 0.01', 'NaN', 'NaN', ' 0.21']
Popped key:Row_57 and pop value: ['Uzbekistan', 'NaN', '1.85', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.02', 'NaN', 'NaN', ' 0.73', 'NaN', ' 0.50', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN']
Popped key:Row_58 and pop value: ['Latin America and the Caribbean']
Popped key:Row_59 and pop value: ['Argentina', 'NaN', '6.63', 'NaN', 'NaN', ' 0.21', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.18', 'NaN', ' 0.06', 'NaN', 'NaN', ' 0.06', 'NaN']
Popped key:Row_60 and pop value: ['Bolivia', 'NaN', '5.98', 'NaN', ' 0.17', 'NaN', ' 0.23', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.05', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.12', 'NaN', ' 0.14', 'NaN', ' 0.21', 'NaN', ' 0.86']
Popped key:Row_62 and pop value: ['Chile', 'NaN', '7.89', 'NaN', 'NaN', ' 0.22', 'NaN', ' 0.13', 'NaN', 'NaN', ' 0.26', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.06', 'NaN', ' 0.06', 'NaN', ' 0.13', 'NaN', ' 0.11']
Popped key:Row_63 and pop value: ['Colombia', 'NaN', '6.40', 'NaN', ' 0.14', 'NaN', ' 0.01', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.05', 'NaN', 'NaN', ' 0.29', 'NaN', ' 0.17']
Popped key:Row_64 and pop value: ['Costa Rica', 'NaN', '8.04', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.19', 'NaN', ' 0.06']
Popped key:Row_65 and pop value: ['Cuba', 'NaN', '3.52', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.15', 'NaN', ' 0.31', 'NaN', ' 0.16']
Popped key:Row_66 and pop value: ['Dominican Republic', 'NaN', '6.13', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', ' 0.29', 'NaN', ' 0.25', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', ' 0.01', 'NaN', ' 0.12', 'NaN']
Popped key:Row_67 and pop value: ['Ecuador', 'NaN', '5.64', 'NaN', 'NaN', ' 0.13', 'NaN', ' 0.05', 'NaN', ' 0.06', 'NaN', ' 0.09', 'NaN', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.21', 'NaN', ' 0.25', 'NaN', ' 0.06']
Popped key:Row_70 and pop value: ['Guyana', 'NaN', '6.15', 'NaN', ' 0.03', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.14', 'NaN', ' 0.14', 'NaN', ' 0.20', 'NaN', ' 0.21', 'NaN', ' 0.21', 'NaN', ' 0.52']
Popped key:Row_71 and pop value: ['Haiti', 'NaN', '4.19', 'NaN', 'NaN', ' 0.19', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.02', 'NaN', ' 0.12', 'NaN', ' 0.12', 'NaN', ' 0.08', 'NaN', ' 0.01', 'NaN', ' 0.88', 'NaN', ' 0.34']
Popped key:Row_72 and pop value: ['Honduras', 'NaN', '6.25', 'NaN', ' 0.07', 'NaN', ' 0.42', 'NaN', ' 0.08', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.08', 'NaN', ' 0.20', 'NaN', ' 0.09', 'NaN', ' 0.21']
Popped key:Row_74 and pop value: ['Mexico', 'NaN', '6.67', 'NaN', ' 0.11', 'NaN', ' 0.15', 'NaN', 'NaN', ' 0.03', 'NaN', ' 0.01', 'NaN', ' 0.23', 'NaN', ' 0.13', 'NaN', ' 0.08', 'NaN', ' 0.06', 'NaN', ' 0.22', 'NaN', ' 0.10']
Popped key:Row_75 and pop value: ['Nicaragua', 'NaN', '5.68', 'NaN', ' 0.39', 'NaN', ' 0.34', 'NaN', ' 0.17', 'NaN', 'NaN', ' 0.10', 'NaN', ' 0.14', 'NaN', ' 0.06', 'NaN', ' 0.45', 'NaN', ' 0.15', 'NaN', ' 1.03', 'NaN', ' 0.08']
Popped key:Row_76 and pop value: ['Panama', 'NaN', '7.35', 'NaN', 'NaN', ' 0.20', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', ' 0.06', 'NaN', ' 0.05', 'NaN', ' 0.03', 'NaN']
Popped key:Row_77 and pop value: ['Paraguay', 'NaN', '6.16', 'NaN', ' 0.24', 'NaN', 'NaN', 'NaN', ' 0.14', 'NaN', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.06', 'NaN', ' 0.04', 'NaN', ' 0.07', 'NaN']
Popped key:Row_78 and pop value: ['Peru', 'NaN', '6.11', 'NaN', ' 0.20', 'NaN', ' 0.09', 'NaN', ' 0.19', 'NaN', ' 0.12', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.07', 'NaN', ' 0.16', 'NaN', ' 0.11', 'NaN']
Popped key:Row_79 and pop value: ['Suriname', 'NaN', '6.52', 'NaN', ' 0.06', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', ' 0.12', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.01', 'NaN', ' 0.22', 'NaN']
Popped key:Row_80 and pop value: ['Trinidad and Tobago', 'NaN', '7.18', 'NaN', ' 0.03', 'NaN', ' 0.05', 'NaN', 'NaN', ' 0.17', 'NaN', 'NaN', 'NaN', ' 0.11', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.12', 'NaN']
Popped key:Row_81 and pop value: ['Uruguay', 'NaN', '7.96', 'NaN', ' 0.12', 'NaN', ' 0.02', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.05', 'NaN', ' 0.26', 'NaN']
Popped key:Row_82 and pop value: ['Venezuela', 'NaN', '5.42', 'NaN', ' 0.08', 'NaN', ' 0.16', 'NaN', ' 0.10', 'NaN', ' 0.07', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.07', 'NaN', ' 0.32', 'NaN', ' 0.81', 'NaN', ' 0.71', 'NaN', ' 0.28']
Popped key:Row_83 and pop value: ['Asia and Australasia']
Popped key:Row_84 and pop value: ['Afghanistan', 'NaN', '3.06', 'NaN', ' 0.04', 'NaN', ' 0.54', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.29', 'NaN', 'NaN', ' 0.22', 'NaN', 'NaN', ' 0.42', 'NaN', ' 0.12']
Popped key:Row_85 and pop value: ['Australia', 'NaN', '9.09', 'NaN', 'NaN', ' 0.13', 'NaN', 'NaN', 'NaN', ' 0.09', 'NaN', ' 0.12', 'NaN', 'NaN', 'NaN', ' 0.08', 'NaN', 'NaN']
Popped key:Row_86 and pop value: ['Bangladesh', 'NaN', '6.11', 'NaN', ' 0.59', 'NaN', ' 0.35', 'NaN', ' 0.01', 'NaN', 'NaN', 'NaN', ' 0.08', 'NaN', ' 0.05', 'NaN', 'NaN', ' 0.30', 'NaN', ' 0.14', 'NaN', ' 0.31']
Popped key:Row_87 and pop value: ['Bhutan', 'NaN', '2.62', 'NaN', ' 1.68', 'NaN', ' 0.38', 'NaN', ' 0.11', 'NaN', ' 0.08', 'NaN', ' 0.17', 'NaN', ' 0.05', 'NaN', ' 0.06', 'NaN', 'NaN', ' 0.15', 'NaN', ' 0.22', 'NaN']
Popped key:Row_88 and pop value: ['Cambodia', 'NaN', '4.77', 'NaN', ' 0.10', 'NaN', 'NaN', 'NaN', ' 0.09', 'NaN', ' 0.36', 'NaN', ' 0.18', 'NaN', ' 0.51', 'NaN', 'NaN', ' 0.64', 'NaN', ' 0.04', 'NaN', ' 0.06']
Popped key:Row_89 and pop value: [' China ', 'NaN', '2.97', 'NaN', ' 0.07', 'NaN', ' 0.10', 'NaN', 'NaN', ' 0.14', 'NaN', 'NaN', 'NaN', ' 0.14', 'NaN', ' 0.04', 'NaN', ' 0.08', 'NaN', ' 0.22', 'NaN', ' 1.06']
Popped key:Row_90 and pop value: ['Fiji', 'NaN', '5.66', 'NaN', ' 0.55', 'NaN', ' 1.49', 'NaN', ' 0.05', 'NaN', 'NaN', ' 0.06', 'NaN', ' 2.00', 'NaN', ' 0.08', 'NaN', ' 0.05', 'NaN', ' 0.21', 'NaN', 'NaN']
Popped key:Row_91 and pop value: ['Hong Kong', 'NaN', '6.03', 'NaN', ' 0.18', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.50', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.04', 'NaN', ' 0.08', 'NaN', ' 0.11', 'NaN', ' 0.16', 'NaN', ' 0.13']
Popped key:Row_92 and pop value: ['India', 'NaN', '7.68', 'NaN', ' 0.12', 'NaN', ' 0.52', 'NaN', ' 0.02', 'NaN', ' 0.22', 'NaN', ' 0.17', 'NaN', ' 0.23', 'NaN', ' 0.18', 'NaN', ' 0.07', 'NaN', ' 0.58', 'NaN', 'NaN', ' 0.33']
Popped key:Row_93 and pop value: ['Indonesia', 'NaN', '6.41', 'NaN', ' 0.07', 'NaN', ' 0.19', 'NaN', 'NaN', ' 0.23', 'NaN', ' 0.06', 'NaN', ' 0.13', 'NaN', ' 0.08', 'NaN', ' 0.06', 'NaN', ' 0.58', 'NaN', 'NaN', ' 0.09']
Popped key:Row_95 and pop value: ['Laos', 'NaN', '2.10', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.22', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.16', 'NaN', 'NaN', 'NaN', ' 0.23']
Popped key:Row_96 and pop value: ['Malaysia', 'NaN', '5.98', 'NaN', ' 0.38', 'NaN', ' 0.17', 'NaN', 'NaN', ' 0.22', 'NaN', ' 0.08', 'NaN', 'NaN', ' 0.06', 'NaN', ' 0.11', 'NaN', 'NaN', ' 0.34', 'NaN', ' 0.28']
Popped key:Row_97 and pop value: ['Mongolia', 'NaN', '6.60', 'NaN', 'NaN', ' 0.24', 'NaN', ' 0.13', 'NaN', ' 0.12', 'NaN', ' 0.16', 'NaN', ' 0.11', 'NaN', 'NaN', 'NaN', ' 0.12', 'NaN', 'NaN']
Popped key:Row_100 and pop value: ['New Zealand', 'NaN', '9.01', 'NaN', ' 0.18', 'NaN', ' 0.07', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_101 and pop value: [' North Korea ', 'NaN', '1.03', 'NaN', ' 0.17', 'NaN', ' 0.22', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_102 and pop value: ['Pakistan', 'NaN', '3.92', 'NaN', ' 0.54', 'NaN', ' 0.09', 'NaN', 'NaN', ' 0.02', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.24', 'NaN', ' 0.07', 'NaN', ' 0.07', 'NaN', ' 0.09', 'NaN', ' 0.08']
Popped key:Row_103 and pop value: ['Papua New Guinea', 'NaN', '6.54', 'NaN', 'NaN', 'NaN', ' 0.22', 'NaN', 'NaN', ' 0.04', 'NaN', ' 0.33', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
Popped key:Row_104 and pop value: ['Philippines', 'NaN', '6.48', 'NaN', ' 0.36', 'NaN', 'NaN', 'NaN', ' 0.18', 'NaN', ' 0.11', 'NaN', ' 0.36', 'NaN', ' 0.07', 'NaN', ' 0.10', 'NaN', ' 0.23', 'NaN', 'NaN', ' 0.07']
Popped key:Row_105 and pop value: ['Singapore', 'NaN', '5.89', 'NaN', 'NaN', 'NaN', 'NaN', ' 0.01', 'NaN', ' 0.04', 'NaN', ' 0.11', 'NaN', ' 0.11', 'NaN', ' 0.24', 'NaN', ' 0.06', 'NaN', ' 0.06', 'NaN', ' 0.36']
Popped key:Row_106 and pop value: [' South Korea ', 'NaN', '7.88', 'NaN', ' 0.13', 'NaN', ' 0.10', 'NaN', ' 0.05', 'NaN', ' 0.07', 'NaN', ' 0.07', 'NaN', 'NaN', ' 0.09', 'NaN', ' 0.05', 'NaN', ' 0.08', 'NaN', 'NaN']

Table_6 could not be added, would you like to add the table with missing values?(y/n)
y
Popped key:Row_1 and pop value: ['Rank', 'NaN', ' Rank', 'NaN', 'Country', 'NaN', 'Regime type', 'NaN', 'Electoral process and pluralism', 'NaN', 'Functioning of government', 'NaN', 'Political participation', 'NaN', 'Political culture', 'NaN', 'Civil liberties', 'NaN', 'Overall score', 'NaN', ' Score']
Popped key:Row_2 and pop value: []
Popped key:Row_3 and pop value: ['Full democracies']
Popped key:Row_8 and pop value: ['5', 'NaN', ' 2', 'NaN', 'Canada', 'NaN', 'Full democracy', '9.58', '8.93', '8.89', '9.38', '9.41', '9.24', 'NaN', ' 0.02']
Popped key:Row_9 and pop value: ['6', 'NaN', ' 1', 'NaN', 'Finland', 'NaN', 'Full democracy', '10.00', '8.93', '8.89', '8.75', '9.41', '9.20', 'NaN', ' 0.05']
Popped key:Row_11 and pop value: ['8', 'NaN', ' 2', 'NaN', 'Ireland', 'NaN', 'Full democracy', '10.00', '7.86', '8.33', '9.38', '9.71', '9.05', 'NaN', ' 0.19']
Popped key:Row_13 and pop value: ['9', 'NaN', ' 2', 'NaN', 'Netherlands', 'NaN', 'Full democracy', '9.58', '9.29', '8.33', '8.75', '8.82', '8.96', 'NaN', ' 0.05']
Popped key:Row_14 and pop value: ['11', 'NaN', ' 20', 'NaN', 'Taiwan', 'NaN', 'Full democracy', '10.00', '9.64', '7.22', '8.13', '9.71', '8.94', 'NaN', ' 1.21']
Popped key:Row_15 and pop value: ['12', 'NaN', ' 2', 'NaN', 'Switzerland', 'NaN', 'Full democracy', '9.58', '8.57', '7.78', '9.38', '8.82', '8.83', 'NaN', ' 0.20']
Popped key:Row_16 and pop value: ['13', 'NaN', ' 1', 'NaN', 'Luxembourg', 'NaN', 'Full democracy', '10.00', '8.57', '6.67', '8.75', '9.71', '8.68', 'NaN', ' 0.13']
Popped key:Row_17 and pop value: ['14', 'NaN', ' 1', 'NaN', 'Germany', 'NaN', 'Full democracy', '9.58', '8.21', '8.33', '8.13', '9.12', '8.67', 'NaN', ' 0.01']
Popped key:Row_19 and pop value: ['16', 'NaN', ' 2', 'NaN', 'United Kingdom', 'NaN', 'Full democracy', '10.00', '7.50', '8.89', '7.50', '8.82', '8.54', 'NaN', ' 0.02']
Popped key:Row_20 and pop value: ['17', 'NaN', ' 4', 'NaN', 'Chile', 'NaN', 'Full democracy', '9.58', '8.21', '6.67', '8.13', '8.82', '8.28', 'NaN', ' 0.20']
Popped key:Row_21 and pop value: ['18', 'NaN', ' 2', 'NaN', 'Austria', 'NaN', 'Full democracy', '9.58', '7.50', '8.33', '6.88', '8.53', '8.16', 'NaN', ' 0.13']
Popped key:Row_22 and pop value: ['18', 'NaN', ' 1', 'NaN', 'Costa Rica', 'NaN', 'Full democracy', '9.58', '6.79', '7.22', '7.50', '9.71', '8.16', 'NaN', ' 0.03']
Popped key:Row_23 and pop value: ['20', 'NaN', ' 2', 'NaN', 'Mauritius', 'NaN', 'Full democracy', '9.17', '7.86', '6.11', '8.75', '8.82', '8.14', 'NaN', ' 0.08']
Popped key:Row_24 and pop value: ['21', 'NaN', ' 3', 'NaN', 'Japan', 'NaN', 'Full democracy', '8.75', '8.57', '6.67', '8.13', '8.53', '8.13', 'NaN', ' 0.14']
Popped key:Row_25 and pop value: ['22', 'NaN', ' 6', 'NaN', 'Spain', 'NaN', 'Full democracy', '9.58', '7.14', '7.22', '8.13', '8.53', '8.12', 'NaN', ' 0.17']
Popped key:Row_27 and pop value: ['Flawed democracies']
Popped key:Row_31 and pop value: ['27', 'NaN', 'Estonia', 'NaN', 'Flawed democracy', '9.58', '7.86', '6.67', '6.88', '8.24', '7.84', 'NaN', ' 0.06']
Popped key:Row_38 and pop value: ['34', 'NaN', 'Cyprus', 'NaN', 'Flawed democracy', '9.17', '5.36', '7.22', '7.50', '8.53', '7.56', 'NaN', ' 0.03']
Popped key:Row_39 and pop value: ['35', 'NaN', ' 1', 'NaN', 'Slovenia', 'NaN', 'Flawed democracy', '9.58', '6.43', '7.22', '6.25', '8.24', '7.54', 'NaN', ' 0.04']
Popped key:Row_41 and pop value: ['37', 'NaN', ' 2', 'NaN', 'Greece', 'NaN', 'Flawed democracy', '9.58', '5.21', '6.11', '7.50', '8.53', '7.39', 'NaN', ' 0.04']
Popped key:Row_47 and pop value: ['42', 'NaN', ' 6', 'NaN', 'Lithuania', 'NaN', 'Flawed democracy', '9.58', '6.07', '5.56', '5.63', '8.82', '7.13', 'NaN', ' 0.37']
Popped key:Row_49 and pop value: ['45', 'NaN', ' 5', 'NaN', 'South Africa', 'NaN', 'Flawed democracy', '7.42', '7.14', '8.33', '5.00', '7.35', '7.05', 'NaN', ' 0.19']
Popped key:Row_52 and pop value: ['48', 'NaN', 'Argentina', 'NaN', 'Flawed democracy', '9.17', '5.36', '6.67', '5.63', '7.94', '6.95', 'NaN', ' 0.07']
Popped key:Row_55 and pop value: ['51', 'NaN', ' 2', 'NaN', 'Suriname', 'NaN', 'Flawed democracy', '9.58', '6.07', '6.11', '5.00', '7.35', '6.82', 'NaN', ' 0.16']
Popped key:Row_63 and pop value: ['59', 'NaN', 'Croatia', 'NaN', 'Flawed democracy', '9.17', '6.07', '6.11', '4.38', '6.76', '6.50', 'NaN', ' 0.07']
Popped key:Row_68 and pop value: ['64', 'NaN', ' 4', 'NaN', 'Lesotho', 'NaN', 'Flawed democracy', '9.17', '4.14', '6.11', '5.63', '6.47', '6.30', 'NaN', ' 0.24']
Popped key:Row_69 and pop value: ['64', 'NaN', 'Indonesia', 'NaN', 'Flawed democracy', '7.92', '7.50', '6.11', '4.38', '5.59', '6.30', 'NaN', ' 0.18']
Popped key:Row_70 and pop value: ['66', 'NaN', 'Serbia', 'NaN', 'Flawed democracy', '8.25', '5.36', '6.67', '3.75', '7.06', '6.22', 'NaN', ' 0.19']
Popped key:Row_71 and pop value: ['67', 'NaN', ' 3', 'NaN', 'Paraguay', 'NaN', 'Flawed democracy', '8.75', '5.71', '5.00', '4.38', '7.06', '6.18', 'NaN', ' 0.06']
Popped key:Row_78 and pop value: ['74', 'NaN', ' 1', 'NaN', 'Singapore', 'NaN', 'Flawed democracy', '4.83', '7.86', '4.44', '6.25', '6.76', '6.03', 'NaN', ' 0.01']
Popped key:Row_79 and pop value: ['75', 'NaN', ' 4', 'NaN', 'Guyana', 'NaN', 'Flawed democracy', '6.50', '5.36', '6.11', '5.00', '7.06', '6.01', 'NaN', ' 0.14']
Popped key:Row_80 and pop value: ['Hybrid regimes']
Popped key:Row_90 and pop value: ['85', 'NaN', 'Madagascar', 'NaN', 'Hybrid regime', '7.92', '3.57', '6.67', '5.63', '4.71', '5.70', 'NaN', ' 0.06']
Popped key:Row_93 and pop value: ['88', 'NaN', ' 1', 'NaN', 'Honduras', 'NaN', 'Hybrid regime', '7.83', '4.29', '4.44', '4.38', '5.88', '5.36', 'NaN', ' 0.06']
Popped key:Row_97 and pop value: ['92', 'NaN', 'Nepal', 'NaN', 'Hybrid regime', '4.83', '5.36', '5.00', '5.63', '5.29', '5.22', 'NaN', ' 0.06']
Popped key:Row_101 and pop value: ['96', 'NaN', 'Morocco', 'NaN', 'Hybrid regime', '5.25', '4.64', '5.56', '5.63', '4.12', '5.04', 'NaN', ' 0.06']
Popped key:Row_104 and pop value: ['99', 'NaN', ' 2', 'NaN', 'Zambia', 'NaN', 'Hybrid regime', '4.75', '2.93', '3.89', '6.88', '5.88', '4.86', 'NaN', ' 0.23']
Popped key:Row_116 and pop value: ['Authoritarian regimes']
Popped key:Row_118 and pop value: ['112', 'NaN', ' 4', 'Mauritania', 'NaN', 'Authoritarian', '3.50', '3.57', '5.00', '3.13', '4.41', '3.92', 'NaN']
Popped key:Row_124 and pop value: ['118', 'NaN', 'Iraq', 'NaN', 'Authoritarian', '5.25', '0.00', '6.67', '5.00', '1.18', '3.62', 'NaN', ' 0.12']
Popped key:Row_126 and pop value: ['120', 'NaN', ' 2', 'NaN', 'Nicaragua', 'NaN', 'Authoritarian', '0.42', '2.86', '5.00', '5.63', '4.12', '3.60', 'NaN', ' 0.05']
Popped key:Row_127 and pop value: ['121', 'NaN', 'Gabon', 'NaN', 'Authoritarian', '2.58', '1.86', '4.44', '5.00', '3.82', '3.54', 'NaN', ' 0.07']
Popped key:Row_130 and pop value: ['124', 'NaN', ' 10', 'NaN', 'Russia', 'NaN', 'Authoritarian', '2.17', '2.14', '5.00', '3.13', '4.12', '3.31', 'NaN', ' 0.20']
Popped key:Row_131 and pop value: ['125', 'NaN', ' 2', 'Niger', 'NaN', 'Authoritarian', '2.92', '1.14', '3.33', '4.38', '4.71', '3.29', 'NaN']
Popped key:Row_135 and pop value: ['129', 'NaN', ' 5', 'Republic of the Congo', 'NaN', 'Authoritarian', '2.17', '2.50', '3.89', '3.75', '3.24', '3.11', 'NaN']
Popped key:Row_140 and pop value: ['133', 'NaN', ' 4', 'NaN', 'Guinea', 'NaN', 'Authoritarian', '3.50', '0.43', '4.44', '4.38', '2.65', '3.08', 'NaN', ' 0.06']
Popped key:Row_142 and pop value: ['136', 'NaN', ' 1', 'NaN', 'Oman', 'NaN', 'Authoritarian', '0.08', '3.93', '2.78', '4.38', '3.82', '3.00', 'NaN', ' 0.06']
Popped key:Row_145 and pop value: ['139', 'NaN', ' 2', 'Afghanistan', 'NaN', 'Authoritarian', '3.42', '0.64', '3.89', '2.50', '3.82', '2.85', 'NaN']
Popped key:Row_146 and pop value: ['140', 'NaN', ' 3', 'Cuba', 'NaN', 'Authoritarian', '0.00', '3.57', '3.33', '4.38', '2.94', '2.84', 'NaN']
Popped key:Row_148 and pop value: ['142', 'NaN', ' 1', 'NaN', 'Cameroon', 'NaN', 'Authoritarian', '1.67', '2.14', '3.33', '4.38', '2.35', '2.77', 'NaN', ' 0.08']
Popped key:Row_150 and pop value: ['144', 'NaN', 'Djibouti', 'NaN', 'Authoritarian', '0.42', '1.29', '3.89', '5.63', '2.35', '2.71', 'NaN', ' 0.06']
Popped key:Row_151 and pop value: ['145', 'NaN', 'United Arab Emirates', 'NaN', 'Authoritarian', '0.00', '3.93', '2.22', '5.00', '2.65', '2.70', 'NaN', ' 0.06']
Popped key:Row_152 and pop value: ['146', 'NaN', 'Azerbaijan', 'NaN', 'Authoritarian', '0.50', '2.86', '3.33', '3.75', '2.94', '2.68', 'NaN', ' 0.07']
Popped key:Row_153 and pop value: ['147', 'NaN', ' 1', 'Guinea-Bissau', 'NaN', 'Authoritarian', '4.92', '0.00', '2.78', '3.13', '2.35', '2.63', 'NaN']
Popped key:Row_160 and pop value: ['154', 'NaN', 'Burundi', 'NaN', 'Authoritarian', '0.00', '0.00', '3.33', '5.00', '2.35', '2.14', 'NaN', ' 0.01']
Popped key:Row_164 and pop value: ['157', 'NaN', 'Yemen', 'NaN', 'Authoritarian', '0.00', '0.00', '3.89', '5.00', '0.88', '1.95', 'NaN']
Popped key:Row_166 and pop value: ['160', 'NaN', ' 1', 'Equatorial Guinea', 'NaN', 'Authoritarian', '0.00', '0.43', '3.33', '4.38', '1.47', '1.92', 'NaN']
Popped key:Row_168 and pop value: ['162', 'NaN', 'Turkmenistan', 'NaN', 'Authoritarian', '0.00', '0.79', '2.22', '5.00', '0.59', '1.72', 'NaN']
Popped key:Row_169 and pop value: ['163', 'NaN', 'Chad', 'NaN', 'Authoritarian', '0.00', '0.00', '1.67', '3.75', '2.35', '1.55', 'NaN', ' 0.06']
Popped key:Row_170 and pop value: ['164', 'NaN', 'Syria', 'NaN', 'Authoritarian', '0.00', '0.00', '2.78', '4.38', '0.00', '1.43', 'NaN']
Popped key:Row_171 and pop value: ['165', 'NaN', 'NaN', 'Central African Republic', 'NaN', 'Authoritarian', '1.25', '0.00', '1.11', '1.88', '2.35', '1.32', 'NaN']
Popped key:Row_172 and pop value: ['166', 'NaN', 'NaN', 'Democratic Republic of the Congo', 'NaN', 'Authoritarian', '0.00', '0.00', '1.67', '3.13', '0.88', '1.13', 'NaN']
Popped key:Row_173 and pop value: ['167', 'NaN', 'North Korea', 'NaN', 'Authoritarian', '0.00', '2.50', '1.67', '1.25', '0.00', '1.08', 'NaN']
Table_1 was saved in CSV format!
Table_2 was saved in CSV format!
Table_3 was saved in CSV format!
Table_4 was saved in CSV format!
Table_5 was saved in CSV format!
Table_6 was saved in CSV format!
Democracy_Index was saved in a TXT format! Table_1
Democracy_Index was saved in a TXT format! Table_2
Democracy_Index was saved in a TXT format! Table_3
Democracy_Index was saved in a TXT format! Table_4
Democracy_Index was saved in a TXT format! Table_5
Democracy_Index was saved in a TXT format! Table_6