In [6]:
!pip install beautifulsoup4
!pip install requests

Requirement already satisfied: beautifulsoup4 in c:\users\alebe\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\alebe\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied: requests in c:\users\alebe\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\alebe\anaconda3\lib\site-packages (from requests) (3.0.4)

In [2]:
url ='https://en.wikipedia.org/wiki/List_of_countries_by_GNI_(nominal)_per_capita'

In [42]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np


page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

def define_title(soup, tag, class_type, class_value):
    scrambled_titles_list = []
    scrambled_titles = soup.find_all(tag, {class_type : class_value})

    for scrambled_title in scrambled_titles:
        scrambled_titles_list.append(scrambled_title)
        
    return scrambled_titles_list
    
td_class_titles = define_title(soup, 'tr', "", "")
# print(td_class_titles)

def removed_tag_titles(soups=soup, tag= '', regex = ''):
    import re

    title_list = []

    for soup in soups:
        text_corpus = soup.find_all(tag) 
        if tag == '':
            text_corpus = soups
        if type(regex) == str:
            regex_in = regex
        elif type(regex) == list:
            regex_in = '|'.join(regex)
        else:
            raise ValueError('Use only a regex string or list of regex strings')

        for node in text_corpus:
            text = node.get_text()
            text= re.sub(regex_in, '', text)
            title_list.append(text)
            
    return title_list

filtered_titles = removed_tag_titles(td_class_titles, 'th' , ["\[[^\]]*\]", '\n'])
#print(filtered_titles)

def make_titles(arr):
    final_titles = {}
    j = 0
    for i, val in enumerate(arr, 1):
        if val != '\n':
            j += 1
            final_titles[f'Table_{j}'] = val
    return final_titles

final_titles = make_titles(filtered_titles)



def locate_tables(soup=soup):
    tbody_class_tables_dict = {}
    wikitable_sortable_class = soup.find_all("table", {"class": "wikitable"})
    for i, wiki_table in enumerate(wikitable_sortable_class):
        tbody_class_tables_dict[f'Table_{i + 1}'] = wikitable_sortable_class[i]
            
    return tbody_class_tables_dict

tbody_class_tables_dict = locate_tables(soup)
#print(tbody_class_tables_dict)

def removed_tag_tables(soup=soup, tag= '', regex = ''):
    import re
    text_corpus = soup.find_all(tag) 
    final_text = []
    
    if type(regex) == str:
        regex_in = regex
    elif type(regex) == list:
        regex_in = '|'.join(regex)
    else:
        raise ValueError('Use only a regex string or list of regex strings')

    for node in text_corpus:
        text = node.get_text()
        text= re.sub(regex_in, '', text)
        final_text.append(text)
    return final_text


def filter_tables(tables_dict):        
    filtered_table_dict = {}
    for key, val in tables_dict.items():
        tbody_class_table_clean = removed_tag_tables(val, 'tr' , ["\[[^\]]*\]", '\xa0', ',', '\n$', '^\n', '\xad', '\u200b'])
        filtered_table_dict[key] = tbody_class_table_clean        


    return filtered_table_dict

filter_tables_dict = filter_tables(tbody_class_tables_dict)

def fill_nulls(tables_dict):
    #print(tables_dict)
    
    import numpy as np
    filled_filter_tables_dict = {}
    for key, table in tables_dict.items():
        filled_nulls_table = []
        for i, row in enumerate(table):
#             while '\n\n\n' in row:
#                 row = row.replace('\n\n\n', '\nNaN\n')
#             while '\n\n' in row:
#                 row = row.replace('\n\n', '\nNaN\n')
            if '\n' in row[0:1]:
                row_filled = 'NaN' + row     
            if '\n' in row[-2:]:
                row_filled = row+'NaN' 
                filled_nulls_table.append(row_filled)
            else:
                row_filled = row
                filled_nulls_table.append(row_filled)
        filled_filter_tables_dict[key] = filled_nulls_table
    return filled_filter_tables_dict
    
filtered_tables_rows = fill_nulls(filter_tables_dict)
print(filtered_tables_rows)

def make_tables(tables_dict):
    import re   
    final_tables_dict = {}
    for key, table in tables_dict.items():
        filtered_tables_rows_dict = {}
        for i, val in enumerate(table, 1):
            row = re.split(r"\n", val)
            while "" in row:
                row.remove("")
            filtered_tables_rows_dict[f'Row_{i}'] = row

        final_tables_dict[key] = filtered_tables_rows_dict
    return final_tables_dict
    
final_rows = make_tables(filtered_tables_rows)
print(final_rows)

def make_dataframe(tables_dict):
    tables_to_df = {}
    removed_tables= {}
    for table_key, table in tables_dict.items():
        same = True
        len_avg = []
        for i in range(len(table.values()) - 1):
            length = len(list(table.values())[i])
            len_avg.append(length)
            if len(list(table.values())[i+1]) == length:
#                 print(f'good: {list(table.values())[i], list(table.values())[i+1]}')
                pass
            else:
#                 print(f'bad: {list(table.values())[i], list(table.values())[i+1]}')
                same = False
        if same == True:
            tables_to_df[table_key] = table
        else:
            keep_rows = input(f'Trable {table_key} could not be added, would you like to add the table with missing values?(y/n) \n')
            while keep_rows.lower() not in ["yes", "y", "no", "n"]:
                keep_rows = input(f'Sorry, "{keep_rows}" is not a valid input.\nTable {table_key} could not be added, would you like to add the table with missing values?(y/n)')
            if keep_rows.lower() == "no" or keep_rows.lower() == "n":
                print(f'{table_key} was not be added, the length of the rows are not the same')
                same = True
            elif keep_rows.lower() == "yes" or keep_rows.lower() == "y":
                mode = max(set(len_avg), key=len_avg.count)
                
                tables_to_df[table_key] = {}
                removed_tables[table_key] = {}
                for row_key, row in table.items():
                    length = len(row)
                    if len(row) == mode:
                        tables_to_df[table_key][row_key] = row
                    else:
                        print(f'Popped key:{row_key} and pop value: {row}')
                        removed_tables[table_key][row_key] = row
    final_tables = {}
    for key, table in tables_to_df.items():
        final_tables[key] = pd.DataFrame.from_dict(table).transpose()
        final_tables[key] = final_tables.get(key).reset_index(drop = True)
        final_tables[key].columns = final_tables[key].iloc[0]
        final_tables[key] = final_tables[key][1:]
    return final_tables, removed_tables

final_tables_tup = make_dataframe(final_rows)
final_tables = final_tables_tup[0]
removed_tables = final_tables_tup[1]

def name_tables(titles, tables):

    final_df = {titles[key] : value for key, value in tables.items()} 
    return final_df


final_df = name_tables(final_titles, final_tables)


path = r'C:\Users\alebe\Documents\coding-temple-jan2021\capstone\csv_tables'+'\\'
doc_title= 'GNI_(nominal)_per_capita'
def finaldf_to_csv(final_df):
    for i, table in enumerate(final_df): 
        final_df[table].to_csv(path+doc_title+str(table)+'.csv')
        print(f'Table_{i + 1} was saved in CSV format!')
finaldf_to_csv(final_df)

def removeddf_to_csv(removed_tables):
    if removed_tables != {}: 
        for i, table in enumerate(removed_tables, 1):
            with open(path+doc_title+'table'+str(i)+'.txt', 'w') as output:
                for key, row in removed_tables[f'Table_{i}'].items():
                    output.write(f"Table:{str(table)}, row number:{str(key)}, row content: {str(row)}" + '\n')
                print(doc_title+f' was saved in a TXT format! table = {i}')

removeddf_to_csv(removed_tables)

{'Table_1': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '1\nLiechtenstein\n116430\n2009', '—\nBermuda (UK)\n106140\n2013', '2\nSwitzerland\n85500\n2019', '3\nNorway\n82500\n2019', '—\nMacau (China)\n78640\n2018', '—\nIsle of Man (UK)\n75340\n2017', '4\nLuxembourg\n73910\n2019', '5\nIceland\n72850\n2019', '—\n  Channel Islands (UK)\n66230\n2007', '6\nUnited States\n65760\n2019', '7\nQatar\n63410\n2019', '8\nDenmark\n63240\n2019', '9\nIreland\n62210\n2019', '10\nSingapore\n59590\n2019', '11\nSweden\n55840\n2019', '12\nAustralia\n54910\n2019', '13\nNetherlands\n53200\n2019', '14\nAustria\n51300\n2019', '—\nHong Kong (China)\n50840\n2019', '15\nFinland\n49580\n2019', '16\nGermany\n48520\n2019', '17\nBelgium\n47350\n2019', '—\nCayman Islands (UK)\n47140\n2017', '18\nCanada\n46370\n2019', '19\nUnited Arab Emirates\n43470\n2019', '20\nIsrael\n43290\n2019', '21\nNew Zealand\n42670\n2019', '22\nFrance\n42400\n2019', '23\nUnited Kingdom\n42370\n2019', '24\nJapan\n41690\n2019', '—\nGreenland (Denmark)\n34800\n2007', '25\nItaly\n34460\n2019', '26\nKuwait\n34290\n2018', '27\nSouth Korea\n33720\n2019', '28\nBrunei\n32230\n2019'], 'Table_2': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '29\nBahamas\n31780\n2019', '30\nSpain\n30390\n2019', '31\nCyprus\n27710\n2019', '32\nMalta\n27290\n2019', '—\nAruba (Netherlands)\n26810\n2017', '—\nTurks and Caicos Islands (UK)\n26740\n2018', '33\nTaiwan\n26594\n2019', '34\nSlovenia\n25750\n2019', '35\nEstonia\n23220\n2019', '36\nPortugal\n23080\n2019', '37\nSaudi Arabia\n22850\n2019', '38\nBahrain\n22110\n2019', '39\nCzechia\n22000\n2019', '—\nPuerto Rico (US)\n21970\n2019', '40\nGreece\n20320\n2019', '—\nCuraçao (Netherlands)\n19610\n2018', '41\nSlovakia\n19320\n2019', '42\nSaint Kitts and Nevis\n19230\n2019', '43\nLithuania\n18990\n2019', '44\nLatvia\n17730\n2019', '45\nBarbados\n17380\n2019', '46\nPalau\n17280\n2018', '47\nTrinidad and Tobago\n16890\n2019', '48\nSeychelles\n16870\n2019', '49\nAntigua and Barbuda\n16660\n2019', '50\nUruguay\n16230\n2019', '51\nHungary\n16140\n2019', '—\nFrench Polynesia (France)\n15760\n2000', '52\nOman\n15330\n2019', '53\nPoland\n15200\n2019', '54\nChile\n15010\n2019', '55\nPanama\n14950\n2019', '56\nCroatia\n14910\n2020', '57\nNauru\n14230\n2019', '—\nNew Caledonia (France)\n14020\n2000', '58\nMauritius\n12740\n2019', '59\nRomania\n12630\n2019'], 'Table_3': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '60\nVenezuela\n13080\n2014', '61\nCosta Rica\n11700\n2019', '—\nWorld\n11570\n2019', '62\nRussia\n11260\n2019', '63\nMalaysia\n11230\n2019', '64\nArgentina\n11200\n2019', '65\nSaint Lucia\n11020\n2019', '66\nChina\n10410\n2019', '67\nGrenada\n9980\n2019', '68\nMaldives\n9650\n2019', '69\nTurkey\n9610\n2019', '70\nMexico\n9430\n2019', '71\nBulgaria\n9410\n2019', '72\nBrazil\n9130\n2019', '73\nMontenegro\n9010\n2019', '74\nKazakhstan\n8810\n2019', '75\nDominican Republic\n8090\n2019', '76\nDominica\n8090\n2019', '77\nBotswana\n7660\n2019', '78\nLibya\n7640\n2019', '79\nLebanon\n7600\n2019', '80\nCuba\n7480\n2016', '81\nSaint Vincent and the Grenadines\n7460\n2019', '82\nThailand\n7260\n2019', '83\nGabon\n7210\n2019', '84\nSerbia\n7020\n2019', '85\nTurkmenistan\n6740\n2018', '86\nPeru\n6740\n2019'], 'Table_4': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '87\nColombia\n6510\n2019', '88\nEquatorial Guinea\n6460\n2019', '89\nBelarus\n6280\n2019', '90\nBosnia and Herzegovina\n6150\n2019', '91\nEcuador\n6080\n2019', '92\nSouth Africa\n6040\n2019', '93\nNorth Macedonia\n5910\n2019', '94\nFiji\n5860\n2019', '95\nIraq\n5740\n2019', '96\nTuvalu\n5620\n2019', '97\nSuriname\n5540\n2019', '98\nParaguay\n5540\n2019', '99\nIran\n5420\n2017', '100\nJamaica\n5250\n2019', '101\nAlbania\n5240\n2019', '102\nGuyana\n5180\n2019', '103\nNamibia\n5060\n2019', '104\nMarshall Islands\n4860\n2018', '105\nGeorgia\n4740\n2019', '106\nArmenia\n4680\n2019', '107\nKosovo\n4640\n2019', '108\nGuatemala\n4610\n2019', '109\nAzerbaijan\n4480\n2019', '110\nBelize\n4450\n2019', '111\nTonga\n4300\n2018', '112\nJordan\n4300\n2019', '113\nSamoa\n4180\n2019', '114\nIndonesia\n4050\n2019'], 'Table_5': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '115\nSri Lanka\n4020\n2019', '116\nEl Salvador\n4000\n2019', '117\nAlgeria\n3970\n2019', '118\nMoldova\n3930\n2019', '119\nPhilippines\n3851\n2019', '120\nMongolia\n3780\n2019', '121\nPalestine\n3710\n2018', '122\nCape Verde\n3630\n2019', '123\nEswatini\n3590\n2019', '124\nDjibouti\n3540\n2019', '125\nBolivia\n3530\n2019', '126\nMicronesia\n3400\n2018', '127\nUkraine\n3370\n2019', '128\nTunisia\n3360\n2019', '129\nKiribati\n3350\n2019', '130\nMorocco\n3190\n2019', '131\nVanuatu\n3170\n2019', '132\nAngola\n3050\n2019', '133\nBhutan\n2970\n2018', '134\nPapua New Guinea\n2780\n2019', '135\nEgypt\n2690\n2019', '136\nLaos\n2570\n2019', '137\nVietnam\n2540\n2019', '138\nHonduras\n2390\n2019', '139\nIvory Coast\n2290\n2019'], 'Table_6': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '140\nGhana\n2220\n2019', '141\nIndia\n2130\n2019', '142\nSolomon Islands\n2050\n2019', '143\nNigeria\n2030\n2019', '144\nSão Tomé and Príncipe\n1960\n2019', '145\nBangladesh\n1940\n2019', '146\nNicaragua\n1910\n2019', '147\nEast Timor\n1890\n2019', '148\nUzbekistan\n1800\n2019', '149\nKenya\n1750 \n2019', '150\nRepublic of the Congo\n1750\n2019', '151\nMauritania\n1660\n2019', '152\nPakistan\n1530\n2019', '153\nCameroon\n1500\n2019', '154\nCambodia\n1480\n2019', '155\nZambia\n1450\n2019', '156\nSenegal\n1450\n2019', '157\nComoros\n1420\n2019', '158\nZimbabwe\n1390\n2019', '159\nLesotho\n1360\n2019', '161\nBenin\n1250\n2019', '162\nKyrgyzstan\n1240\n2019', '163\nNepal\n1090\n2019', '164\nTanzania\n1080\n2019'], 'Table_7': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '165\nSyria\n1823\n2007', '166\nSouth Sudan\n1090\n2020', '167\nTajikistan\n1030\n2019', '168\nGuinea\n950\n2019', '169\nYemen\n940\n2018', '170\nMali\n880\n2019', '171\nEthiopia\n850\n2019', '172\nRwanda\n820\n2019', '173\nGuinea-Bissau\n820\n2019', '174\nHaiti\n790\n2019', '175\nBurkina Faso\n790\n2019', '176\nUganda\n780\n2019', '177\nGambia\n740\n2019', '178\nChad\n700\n2019'], 'Table_8': ['Rank\n\nCountry\n\nGNI per capita (US$)\n\nYear', '179\nTogo\n690\n2019', '180\nEritrea\n600\n2011', '181\nSudan\n590\n2019', '182\nLiberia\n580\n2019', '183\nNiger\n560\n2019', '184\nAfghanistan\n540\n2019', '185\nMadagascar\n520\n2019', '186\nDemocratic Republic of the Congo\n520\n2019', '187\nCentral African Republic\n520\n2019', '188\nSierra Leone\n500\n2019', '189\nMozambique\n480\n2019', '190\nMalawi\n380\n2019', '191\nBurundi\n280\n2019', '192\nSomalia\n130\n1990'], 'Table_9': ['High-income group', 'Andorra', 'British Virgin Islands (UK)', 'Cook Islands (New Zealand)', 'Faroe Islands (Denmark)', 'Gibraltar (UK)', 'Guam (US)', 'Monaco', 'Northern Mariana Islands (US)', 'Saint Martin (France)', 'San Marino', 'Sint Maarten (Netherlands)', 'U.S. Virgin Islands (US)', 'Upper-middle-income group', 'American Samoa (US)', 'Low-income group', 'North Korea']}
{'Table_1': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['1', 'Liechtenstein', '116430', '2009'], 'Row_3': ['—', 'Bermuda (UK)', '106140', '2013'], 'Row_4': ['2', 'Switzerland', '85500', '2019'], 'Row_5': ['3', 'Norway', '82500', '2019'], 'Row_6': ['—', 'Macau (China)', '78640', '2018'], 'Row_7': ['—', 'Isle of Man (UK)', '75340', '2017'], 'Row_8': ['4', 'Luxembourg', '73910', '2019'], 'Row_9': ['5', 'Iceland', '72850', '2019'], 'Row_10': ['—', '  Channel Islands (UK)', '66230', '2007'], 'Row_11': ['6', 'United States', '65760', '2019'], 'Row_12': ['7', 'Qatar', '63410', '2019'], 'Row_13': ['8', 'Denmark', '63240', '2019'], 'Row_14': ['9', 'Ireland', '62210', '2019'], 'Row_15': ['10', 'Singapore', '59590', '2019'], 'Row_16': ['11', 'Sweden', '55840', '2019'], 'Row_17': ['12', 'Australia', '54910', '2019'], 'Row_18': ['13', 'Netherlands', '53200', '2019'], 'Row_19': ['14', 'Austria', '51300', '2019'], 'Row_20': ['—', 'Hong Kong (China)', '50840', '2019'], 'Row_21': ['15', 'Finland', '49580', '2019'], 'Row_22': ['16', 'Germany', '48520', '2019'], 'Row_23': ['17', 'Belgium', '47350', '2019'], 'Row_24': ['—', 'Cayman Islands (UK)', '47140', '2017'], 'Row_25': ['18', 'Canada', '46370', '2019'], 'Row_26': ['19', 'United Arab Emirates', '43470', '2019'], 'Row_27': ['20', 'Israel', '43290', '2019'], 'Row_28': ['21', 'New Zealand', '42670', '2019'], 'Row_29': ['22', 'France', '42400', '2019'], 'Row_30': ['23', 'United Kingdom', '42370', '2019'], 'Row_31': ['24', 'Japan', '41690', '2019'], 'Row_32': ['—', 'Greenland (Denmark)', '34800', '2007'], 'Row_33': ['25', 'Italy', '34460', '2019'], 'Row_34': ['26', 'Kuwait', '34290', '2018'], 'Row_35': ['27', 'South Korea', '33720', '2019'], 'Row_36': ['28', 'Brunei', '32230', '2019']}, 'Table_2': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['29', 'Bahamas', '31780', '2019'], 'Row_3': ['30', 'Spain', '30390', '2019'], 'Row_4': ['31', 'Cyprus', '27710', '2019'], 'Row_5': ['32', 'Malta', '27290', '2019'], 'Row_6': ['—', 'Aruba (Netherlands)', '26810', '2017'], 'Row_7': ['—', 'Turks and Caicos Islands (UK)', '26740', '2018'], 'Row_8': ['33', 'Taiwan', '26594', '2019'], 'Row_9': ['34', 'Slovenia', '25750', '2019'], 'Row_10': ['35', 'Estonia', '23220', '2019'], 'Row_11': ['36', 'Portugal', '23080', '2019'], 'Row_12': ['37', 'Saudi Arabia', '22850', '2019'], 'Row_13': ['38', 'Bahrain', '22110', '2019'], 'Row_14': ['39', 'Czechia', '22000', '2019'], 'Row_15': ['—', 'Puerto Rico (US)', '21970', '2019'], 'Row_16': ['40', 'Greece', '20320', '2019'], 'Row_17': ['—', 'Curaçao (Netherlands)', '19610', '2018'], 'Row_18': ['41', 'Slovakia', '19320', '2019'], 'Row_19': ['42', 'Saint Kitts and Nevis', '19230', '2019'], 'Row_20': ['43', 'Lithuania', '18990', '2019'], 'Row_21': ['44', 'Latvia', '17730', '2019'], 'Row_22': ['45', 'Barbados', '17380', '2019'], 'Row_23': ['46', 'Palau', '17280', '2018'], 'Row_24': ['47', 'Trinidad and Tobago', '16890', '2019'], 'Row_25': ['48', 'Seychelles', '16870', '2019'], 'Row_26': ['49', 'Antigua and Barbuda', '16660', '2019'], 'Row_27': ['50', 'Uruguay', '16230', '2019'], 'Row_28': ['51', 'Hungary', '16140', '2019'], 'Row_29': ['—', 'French Polynesia (France)', '15760', '2000'], 'Row_30': ['52', 'Oman', '15330', '2019'], 'Row_31': ['53', 'Poland', '15200', '2019'], 'Row_32': ['54', 'Chile', '15010', '2019'], 'Row_33': ['55', 'Panama', '14950', '2019'], 'Row_34': ['56', 'Croatia', '14910', '2020'], 'Row_35': ['57', 'Nauru', '14230', '2019'], 'Row_36': ['—', 'New Caledonia (France)', '14020', '2000'], 'Row_37': ['58', 'Mauritius', '12740', '2019'], 'Row_38': ['59', 'Romania', '12630', '2019']}, 'Table_3': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['60', 'Venezuela', '13080', '2014'], 'Row_3': ['61', 'Costa Rica', '11700', '2019'], 'Row_4': ['—', 'World', '11570', '2019'], 'Row_5': ['62', 'Russia', '11260', '2019'], 'Row_6': ['63', 'Malaysia', '11230', '2019'], 'Row_7': ['64', 'Argentina', '11200', '2019'], 'Row_8': ['65', 'Saint Lucia', '11020', '2019'], 'Row_9': ['66', 'China', '10410', '2019'], 'Row_10': ['67', 'Grenada', '9980', '2019'], 'Row_11': ['68', 'Maldives', '9650', '2019'], 'Row_12': ['69', 'Turkey', '9610', '2019'], 'Row_13': ['70', 'Mexico', '9430', '2019'], 'Row_14': ['71', 'Bulgaria', '9410', '2019'], 'Row_15': ['72', 'Brazil', '9130', '2019'], 'Row_16': ['73', 'Montenegro', '9010', '2019'], 'Row_17': ['74', 'Kazakhstan', '8810', '2019'], 'Row_18': ['75', 'Dominican Republic', '8090', '2019'], 'Row_19': ['76', 'Dominica', '8090', '2019'], 'Row_20': ['77', 'Botswana', '7660', '2019'], 'Row_21': ['78', 'Libya', '7640', '2019'], 'Row_22': ['79', 'Lebanon', '7600', '2019'], 'Row_23': ['80', 'Cuba', '7480', '2016'], 'Row_24': ['81', 'Saint Vincent and the Grenadines', '7460', '2019'], 'Row_25': ['82', 'Thailand', '7260', '2019'], 'Row_26': ['83', 'Gabon', '7210', '2019'], 'Row_27': ['84', 'Serbia', '7020', '2019'], 'Row_28': ['85', 'Turkmenistan', '6740', '2018'], 'Row_29': ['86', 'Peru', '6740', '2019']}, 'Table_4': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['87', 'Colombia', '6510', '2019'], 'Row_3': ['88', 'Equatorial Guinea', '6460', '2019'], 'Row_4': ['89', 'Belarus', '6280', '2019'], 'Row_5': ['90', 'Bosnia and Herzegovina', '6150', '2019'], 'Row_6': ['91', 'Ecuador', '6080', '2019'], 'Row_7': ['92', 'South Africa', '6040', '2019'], 'Row_8': ['93', 'North Macedonia', '5910', '2019'], 'Row_9': ['94', 'Fiji', '5860', '2019'], 'Row_10': ['95', 'Iraq', '5740', '2019'], 'Row_11': ['96', 'Tuvalu', '5620', '2019'], 'Row_12': ['97', 'Suriname', '5540', '2019'], 'Row_13': ['98', 'Paraguay', '5540', '2019'], 'Row_14': ['99', 'Iran', '5420', '2017'], 'Row_15': ['100', 'Jamaica', '5250', '2019'], 'Row_16': ['101', 'Albania', '5240', '2019'], 'Row_17': ['102', 'Guyana', '5180', '2019'], 'Row_18': ['103', 'Namibia', '5060', '2019'], 'Row_19': ['104', 'Marshall Islands', '4860', '2018'], 'Row_20': ['105', 'Georgia', '4740', '2019'], 'Row_21': ['106', 'Armenia', '4680', '2019'], 'Row_22': ['107', 'Kosovo', '4640', '2019'], 'Row_23': ['108', 'Guatemala', '4610', '2019'], 'Row_24': ['109', 'Azerbaijan', '4480', '2019'], 'Row_25': ['110', 'Belize', '4450', '2019'], 'Row_26': ['111', 'Tonga', '4300', '2018'], 'Row_27': ['112', 'Jordan', '4300', '2019'], 'Row_28': ['113', 'Samoa', '4180', '2019'], 'Row_29': ['114', 'Indonesia', '4050', '2019']}, 'Table_5': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['115', 'Sri Lanka', '4020', '2019'], 'Row_3': ['116', 'El Salvador', '4000', '2019'], 'Row_4': ['117', 'Algeria', '3970', '2019'], 'Row_5': ['118', 'Moldova', '3930', '2019'], 'Row_6': ['119', 'Philippines', '3851', '2019'], 'Row_7': ['120', 'Mongolia', '3780', '2019'], 'Row_8': ['121', 'Palestine', '3710', '2018'], 'Row_9': ['122', 'Cape Verde', '3630', '2019'], 'Row_10': ['123', 'Eswatini', '3590', '2019'], 'Row_11': ['124', 'Djibouti', '3540', '2019'], 'Row_12': ['125', 'Bolivia', '3530', '2019'], 'Row_13': ['126', 'Micronesia', '3400', '2018'], 'Row_14': ['127', 'Ukraine', '3370', '2019'], 'Row_15': ['128', 'Tunisia', '3360', '2019'], 'Row_16': ['129', 'Kiribati', '3350', '2019'], 'Row_17': ['130', 'Morocco', '3190', '2019'], 'Row_18': ['131', 'Vanuatu', '3170', '2019'], 'Row_19': ['132', 'Angola', '3050', '2019'], 'Row_20': ['133', 'Bhutan', '2970', '2018'], 'Row_21': ['134', 'Papua New Guinea', '2780', '2019'], 'Row_22': ['135', 'Egypt', '2690', '2019'], 'Row_23': ['136', 'Laos', '2570', '2019'], 'Row_24': ['137', 'Vietnam', '2540', '2019'], 'Row_25': ['138', 'Honduras', '2390', '2019'], 'Row_26': ['139', 'Ivory Coast', '2290', '2019']}, 'Table_6': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['140', 'Ghana', '2220', '2019'], 'Row_3': ['141', 'India', '2130', '2019'], 'Row_4': ['142', 'Solomon Islands', '2050', '2019'], 'Row_5': ['143', 'Nigeria', '2030', '2019'], 'Row_6': ['144', 'São Tomé and Príncipe', '1960', '2019'], 'Row_7': ['145', 'Bangladesh', '1940', '2019'], 'Row_8': ['146', 'Nicaragua', '1910', '2019'], 'Row_9': ['147', 'East Timor', '1890', '2019'], 'Row_10': ['148', 'Uzbekistan', '1800', '2019'], 'Row_11': ['149', 'Kenya', '1750 ', '2019'], 'Row_12': ['150', 'Republic of the Congo', '1750', '2019'], 'Row_13': ['151', 'Mauritania', '1660', '2019'], 'Row_14': ['152', 'Pakistan', '1530', '2019'], 'Row_15': ['153', 'Cameroon', '1500', '2019'], 'Row_16': ['154', 'Cambodia', '1480', '2019'], 'Row_17': ['155', 'Zambia', '1450', '2019'], 'Row_18': ['156', 'Senegal', '1450', '2019'], 'Row_19': ['157', 'Comoros', '1420', '2019'], 'Row_20': ['158', 'Zimbabwe', '1390', '2019'], 'Row_21': ['159', 'Lesotho', '1360', '2019'], 'Row_22': ['161', 'Benin', '1250', '2019'], 'Row_23': ['162', 'Kyrgyzstan', '1240', '2019'], 'Row_24': ['163', 'Nepal', '1090', '2019'], 'Row_25': ['164', 'Tanzania', '1080', '2019']}, 'Table_7': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['165', 'Syria', '1823', '2007'], 'Row_3': ['166', 'South Sudan', '1090', '2020'], 'Row_4': ['167', 'Tajikistan', '1030', '2019'], 'Row_5': ['168', 'Guinea', '950', '2019'], 'Row_6': ['169', 'Yemen', '940', '2018'], 'Row_7': ['170', 'Mali', '880', '2019'], 'Row_8': ['171', 'Ethiopia', '850', '2019'], 'Row_9': ['172', 'Rwanda', '820', '2019'], 'Row_10': ['173', 'Guinea-Bissau', '820', '2019'], 'Row_11': ['174', 'Haiti', '790', '2019'], 'Row_12': ['175', 'Burkina Faso', '790', '2019'], 'Row_13': ['176', 'Uganda', '780', '2019'], 'Row_14': ['177', 'Gambia', '740', '2019'], 'Row_15': ['178', 'Chad', '700', '2019']}, 'Table_8': {'Row_1': ['Rank', 'Country', 'GNI per capita (US$)', 'Year'], 'Row_2': ['179', 'Togo', '690', '2019'], 'Row_3': ['180', 'Eritrea', '600', '2011'], 'Row_4': ['181', 'Sudan', '590', '2019'], 'Row_5': ['182', 'Liberia', '580', '2019'], 'Row_6': ['183', 'Niger', '560', '2019'], 'Row_7': ['184', 'Afghanistan', '540', '2019'], 'Row_8': ['185', 'Madagascar', '520', '2019'], 'Row_9': ['186', 'Democratic Republic of the Congo', '520', '2019'], 'Row_10': ['187', 'Central African Republic', '520', '2019'], 'Row_11': ['188', 'Sierra Leone', '500', '2019'], 'Row_12': ['189', 'Mozambique', '480', '2019'], 'Row_13': ['190', 'Malawi', '380', '2019'], 'Row_14': ['191', 'Burundi', '280', '2019'], 'Row_15': ['192', 'Somalia', '130', '1990']}, 'Table_9': {'Row_1': ['High-income group'], 'Row_2': ['Andorra'], 'Row_3': ['British Virgin Islands (UK)'], 'Row_4': ['Cook Islands (New Zealand)'], 'Row_5': ['Faroe Islands (Denmark)'], 'Row_6': ['Gibraltar (UK)'], 'Row_7': ['Guam (US)'], 'Row_8': ['Monaco'], 'Row_9': ['Northern Mariana Islands (US)'], 'Row_10': ['Saint Martin (France)'], 'Row_11': ['San Marino'], 'Row_12': ['Sint Maarten (Netherlands)'], 'Row_13': ['U.S. Virgin Islands (US)'], 'Row_14': ['Upper-middle-income group'], 'Row_15': ['American Samoa (US)'], 'Row_16': ['Low-income group'], 'Row_17': ['North Korea']}}
Table_1 was saved in CSV format!
Table_2 was saved in CSV format!
Table_3 was saved in CSV format!
Table_4 was saved in CSV format!

In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np


page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

def define_title(soup, tag, class_type, class_value):
    scrambled_titles_list = []
    scrambled_titles = soup.find_all(tag, {class_type : class_value})

    for scrambled_title in scrambled_titles:
        scrambled_titles_list.append(scrambled_title)
        
    return scrambled_titles_list
    
td_class_titles = define_title(soup, 'tr', "", "")
# print(td_class_titles)

def removed_tag_titles(soups=soup, tag= '', regex = ''):
    import re

    title_list = []

    for soup in soups:
        text_corpus = soup.find_all(tag) 
        if tag == '':
            text_corpus = soups
        if type(regex) == str:
            regex_in = regex
        elif type(regex) == list:
            regex_in = '|'.join(regex)
        else:
            raise ValueError('Use only a regex string or list of regex strings')

        for node in text_corpus:
            text = node.get_text()
            text= re.sub(regex_in, '', text)
            title_list.append(text)
            
    return title_list

filtered_titles = removed_tag_titles(td_class_titles, 'th' , ["\[[^\]]*\]", '\n'])
#print(filtered_titles)

def make_titles(arr):
    final_titles = {}
    j = 0
    for i, val in enumerate(arr, 1):
        if val != '\n':
            j += 1
            final_titles[f'Table_{j}'] = val
    return final_titles

final_titles = make_titles(filtered_titles)



def locate_tables(soup=soup):
    tbody_class_tables_dict = {}
    wikitable_sortable_class = soup.find_all("table", {"class": "wikitable"})
    for i, wiki_table in enumerate(wikitable_sortable_class):
        tbody_class_tables_dict[f'Table_{i + 1}'] = wikitable_sortable_class[i]
            
    return tbody_class_tables_dict

tbody_class_tables_dict = locate_tables(soup)
#print(tbody_class_tables_dict)

def removed_tag_tables(soup=soup, tag= '', regex = ''):
    import re
    text_corpus = soup.find_all(tag) 
    final_text = []
    
    if type(regex) == str:
        regex_in = regex
    elif type(regex) == list:
        regex_in = '|'.join(regex)
    else:
        raise ValueError('Use only a regex string or list of regex strings')

    for node in text_corpus:
        text = node.get_text()
        text= re.sub(regex_in, '', text)
        final_text.append(text)
    return final_text


def filter_tables(tables_dict):        
    filtered_table_dict = {}
    for key, val in tables_dict.items():
        tbody_class_table_clean = removed_tag_tables(val, 'tr' , ["\[[^\]]*\]", '\xa0', ',', '\n$', '^\n', '\xad', '\u200b'])
        filtered_table_dict[key] = tbody_class_table_clean        


    return filtered_table_dict

filter_tables_dict = filter_tables(tbody_class_tables_dict)

def fill_nulls(tables_dict):
    #print(tables_dict)
    
    import numpy as np
    filled_filter_tables_dict = {}
    for key, table in tables_dict.items():
        filled_nulls_table = []
        for i, row in enumerate(table):
#             while '\n\n\n' in row:
#                 row = row.replace('\n\n\n', '\nNaN\n')
#             while '\n\n' in row:
#                 row = row.replace('\n\n', '\nNaN\n')
            if '\n' in row[0:1]:
                row_filled = 'NaN' + row     
            if '\n' in row[-2:]:
                row_filled = row+'NaN' 
                filled_nulls_table.append(row_filled)
            else:
                row_filled = row
                filled_nulls_table.append(row_filled)
        filled_filter_tables_dict[key] = filled_nulls_table
    return filled_filter_tables_dict
    
filtered_tables_rows = fill_nulls(filter_tables_dict)
#print(filtered_tables_rows)

def make_tables(tables_dict):
    import re   
    final_tables_dict = {}
    for key, table in tables_dict.items():
        filtered_tables_rows_dict = {}
        for i, val in enumerate(table, 1):
            row = re.split(r"\n", val)
            while "" in row:
                row.remove("")
            filtered_tables_rows_dict[f'Row_{i}'] = row

        final_tables_dict[key] = filtered_tables_rows_dict
    return final_tables_dict
    
final_rows = make_tables(filtered_tables_rows)
#print(final_rows)

def make_dataframe(tables_dict):
    tables_to_df = {}
    removed_tables= {}
    for table_key, table in tables_dict.items():
        same = True
        len_avg = []
        for i in range(len(table.values()) - 1):
            length = len(list(table.values())[i])
            len_avg.append(length)
            if len(list(table.values())[i+1]) == length:
#                 print(f'good: {list(table.values())[i], list(table.values())[i+1]}')
                pass
            else:
#                 print(f'bad: {list(table.values())[i], list(table.values())[i+1]}')
                same = False
        if same == True:
            tables_to_df[table_key] = table
        else:
            keep_rows = input(f'Trable {table_key} could not be added, would you like to add the table with missing values?(y/n) \n')
            while keep_rows.lower() not in ["yes", "y", "no", "n"]:
                keep_rows = input(f'Sorry, "{keep_rows}" is not a valid input.\nTable {table_key} could not be added, would you like to add the table with missing values?(y/n)')
            if keep_rows.lower() == "no" or keep_rows.lower() == "n":
                print(f'{table_key} was not be added, the length of the rows are not the same')
                same = True
            elif keep_rows.lower() == "yes" or keep_rows.lower() == "y":
                mode = max(set(len_avg), key=len_avg.count)
                
                tables_to_df[table_key] = {}
                removed_tables[table_key] = {}
                for row_key, row in table.items():
                    length = len(row)
                    if len(row) == mode:
                        tables_to_df[table_key][row_key] = row
                    else:
                        print(f'Popped key:{row_key} and pop value: {row}')
                        removed_tables[table_key][row_key] = row
    final_tables = {}
    for key, table in tables_to_df.items():
        final_tables[key] = pd.DataFrame.from_dict(table).transpose()
        final_tables[key] = final_tables.get(key).reset_index(drop = True)
        final_tables[key].columns = final_tables[key].iloc[0]
        final_tables[key] = final_tables[key][1:]
    return final_tables, removed_tables

final_tables_tup = make_dataframe(final_rows)
#print(final_tables_tup)
final_tables = final_tables_tup[0]
removed_tables = final_tables_tup[1]

# def name_tables(titles, tables):

#     final_df = {titles[key] : value for key, value in tables.items()} 
#     return final_df


# final_df = name_tables(final_titles, final_tables)
# print(final_df)


path = r'C:\Users\alebe\Documents\coding-temple-jan2021\capstone\csv_tables'+'\\'
doc_title= 'GNI_(nominal)_per_capita'
def finaldf_to_csv(final_df):
    for i, table in enumerate(final_df): 
        final_df[table].to_csv(path+doc_title+str(table)+'.csv')
        print(f'Table_{i + 
1} was saved in CSV format!')
finaldf_to_csv(final_tables)

def removeddf_to_csv(removed_tables):
    if removed_tables != {}: 
        for i, table in enumerate(removed_tables, 1):
            with open(path+doc_title+'table'+str(i)+'.txt', 'w') as output:
                for key, row in removed_tables[f'Table_{i}'].items():
                    output.write(f"Table:{str(table)}, row number:{str(key)}, row content: {str(row)}" + '\n')
                print(doc_title+f' was saved in a TXT format! table = {i}')

removeddf_to_csv(removed_tables)

({'Table_1': 0  Rank                 Country GNI per capita (US$)  Year
1     1           Liechtenstein               116430  2009
2     —            Bermuda (UK)               106140  2013
3     2             Switzerland                85500  2019
4     3                  Norway                82500  2019
5     —           Macau (China)                78640  2018
6     —        Isle of Man (UK)                75340  2017
7     4              Luxembourg                73910  2019
8     5                 Iceland                72850  2019
9     —    Channel Islands (UK)                66230  2007
10    6           United States                65760  2019
11    7                   Qatar                63410  2019
12    8                 Denmark                63240  2019
13    9                 Ireland                62210  2019
14   10               Singapore                59590  2019
15   11                  Sweden                55840  2019
16   12               Australia                54910  2019
17   13             Netherlands                53200  2019
18   14                 Austria                51300  2019
19    —       Hong Kong (China)                50840  2019
20   15                 Finland                49580  2019
21   16                 Germany                48520  2019
22   17                 Belgium                47350  2019
23    —     Cayman Islands (UK)                47140  2017
24   18                  Canada                46370  2019
25   19    United Arab Emirates                43470  2019
26   20                  Israel                43290  2019
27   21             New Zealand                42670  2019
28   22                  France                42400  2019
29   23          United Kingdom                42370  2019
30   24                   Japan                41690  2019
31    —     Greenland (Denmark)                34800  2007
32   25                   Italy                34460  2019
33   26                  Kuwait                34290  2018
34   27             South Korea                33720  2019
35   28                  Brunei                32230  2019, 'Table_2': 0  Rank                        Country GNI per capita (US$)  Year
1    29                        Bahamas                31780  2019
2    30                          Spain                30390  2019
3    31                         Cyprus                27710  2019
4    32                          Malta                27290  2019
5     —            Aruba (Netherlands)                26810  2017
6     —  Turks and Caicos Islands (UK)                26740  2018
7    33                         Taiwan                26594  2019
8    34                       Slovenia                25750  2019
9    35                        Estonia                23220  2019
10   36                       Portugal                23080  2019
11   37                   Saudi Arabia                22850  2019
12   38                        Bahrain                22110  2019
13   39                        Czechia                22000  2019
14    —               Puerto Rico (US)                21970  2019
15   40                         Greece                20320  2019
16    —          Curaçao (Netherlands)                19610  2018
17   41                       Slovakia                19320  2019
18   42          Saint Kitts and Nevis                19230  2019
19   43                      Lithuania                18990  2019
20   44                         Latvia                17730  2019
21   45                       Barbados                17380  2019
22   46                          Palau                17280  2018
23   47            Trinidad and Tobago                16890  2019
24   48                     Seychelles                16870  2019
25   49            Antigua and Barbuda                16660  2019
26   50                        Uruguay                16230  2019
27   51                        Hungary                16140  2019
28    —      French Polynesia (France)                15760  2000
29   52                           Oman                15330  2019
30   53                         Poland                15200  2019
31   54                          Chile                15010  2019
32   55                         Panama                14950  2019
33   56                        Croatia                14910  2020
34   57                          Nauru                14230  2019
35    —         New Caledonia (France)                14020  2000
36   58                      Mauritius                12740  2019
37   59                        Romania                12630  2019, 'Table_3': 0  Rank                           Country GNI per capita (US$)  Year
1    60                         Venezuela                13080  2014
2    61                        Costa Rica                11700  2019
3     —                             World                11570  2019
4    62                            Russia                11260  2019
5    63                          Malaysia                11230  2019
6    64                         Argentina                11200  2019
7    65                       Saint Lucia                11020  2019
8    66                             China                10410  2019
9    67                           Grenada                 9980  2019
10   68                          Maldives                 9650  2019
11   69                            Turkey                 9610  2019
12   70                            Mexico                 9430  2019
13   71                          Bulgaria                 9410  2019
14   72                            Brazil                 9130  2019
15   73                        Montenegro                 9010  2019
16   74                        Kazakhstan                 8810  2019
17   75                Dominican Republic                 8090  2019
18   76                          Dominica                 8090  2019
19   77                          Botswana                 7660  2019
20   78                             Libya                 7640  2019
21   79                           Lebanon                 7600  2019
22   80                              Cuba                 7480  2016
23   81  Saint Vincent and the Grenadines                 7460  2019
24   82                          Thailand                 7260  2019
25   83                             Gabon                 7210  2019
26   84                            Serbia                 7020  2019
27   85                      Turkmenistan                 6740  2018
28   86                              Peru                 6740  2019, 'Table_4': 0  Rank                 Country GNI per capita (US$)  Year
1    87                Colombia                 6510  2019
2    88       Equatorial Guinea                 6460  2019
3    89                 Belarus                 6280  2019
4    90  Bosnia and Herzegovina                 6150  2019
5    91                 Ecuador                 6080  2019
6    92            South Africa                 6040  2019
7    93         North Macedonia                 5910  2019
8    94                    Fiji                 5860  2019
9    95                    Iraq                 5740  2019
10   96                  Tuvalu                 5620  2019
11   97                Suriname                 5540  2019
12   98                Paraguay                 5540  2019
13   99                    Iran                 5420  2017
14  100                 Jamaica                 5250  2019
15  101                 Albania                 5240  2019
16  102                  Guyana                 5180  2019
17  103                 Namibia                 5060  2019
18  104        Marshall Islands                 4860  2018
19  105                 Georgia                 4740  2019
20  106                 Armenia                 4680  2019
21  107                  Kosovo                 4640  2019
22  108               Guatemala                 4610  2019
23  109              Azerbaijan                 4480  2019
24  110                  Belize                 4450  2019
25  111                   Tonga                 4300  2018
26  112                  Jordan                 4300  2019
27  113                   Samoa                 4180  2019
28  114               Indonesia                 4050  2019, 'Table_5': 0  Rank           Country GNI per capita (US$)  Year
1   115         Sri Lanka                 4020  2019
2   116       El Salvador                 4000  2019
3   117           Algeria                 3970  2019
4   118           Moldova                 3930  2019
5   119       Philippines                 3851  2019
6   120          Mongolia                 3780  2019
7   121         Palestine                 3710  2018
8   122        Cape Verde                 3630  2019
9   123          Eswatini                 3590  2019
10  124          Djibouti                 3540  2019
11  125           Bolivia                 3530  2019
12  126        Micronesia                 3400  2018
13  127           Ukraine                 3370  2019
14  128           Tunisia                 3360  2019
15  129          Kiribati                 3350  2019
16  130           Morocco                 3190  2019
17  131           Vanuatu                 3170  2019
18  132            Angola                 3050  2019
19  133            Bhutan                 2970  2018
20  134  Papua New Guinea                 2780  2019
21  135             Egypt                 2690  2019
22  136              Laos                 2570  2019
23  137           Vietnam                 2540  2019
24  138          Honduras                 2390  2019
25  139       Ivory Coast                 2290  2019, 'Table_6': 0  Rank                Country GNI per capita (US$)  Year
1   140                  Ghana                 2220  2019
2   141                  India                 2130  2019
3   142        Solomon Islands                 2050  2019
4   143                Nigeria                 2030  2019
5   144  São Tomé and Príncipe                 1960  2019
6   145             Bangladesh                 1940  2019
7   146              Nicaragua                 1910  2019
8   147             East Timor                 1890  2019
9   148             Uzbekistan                 1800  2019
10  149                  Kenya                1750   2019
11  150  Republic of the Congo                 1750  2019
12  151             Mauritania                 1660  2019
13  152               Pakistan                 1530  2019
14  153               Cameroon                 1500  2019
15  154               Cambodia                 1480  2019
16  155                 Zambia                 1450  2019
17  156                Senegal                 1450  2019
18  157                Comoros                 1420  2019
19  158               Zimbabwe                 1390  2019
20  159                Lesotho                 1360  2019
21  161                  Benin                 1250  2019
22  162             Kyrgyzstan                 1240  2019
23  163                  Nepal                 1090  2019
24  164               Tanzania                 1080  2019, 'Table_7': 0  Rank        Country GNI per capita (US$)  Year
1   165          Syria                 1823  2007
2   166    South Sudan                 1090  2020
3   167     Tajikistan                 1030  2019
4   168         Guinea                  950  2019
5   169          Yemen                  940  2018
6   170           Mali                  880  2019
7   171       Ethiopia                  850  2019
8   172         Rwanda                  820  2019
9   173  Guinea-Bissau                  820  2019
10  174          Haiti                  790  2019
11  175   Burkina Faso                  790  2019
12  176         Uganda                  780  2019
13  177         Gambia                  740  2019
14  178           Chad                  700  2019, 'Table_8': 0  Rank                           Country GNI per capita (US$)  Year
1   179                              Togo                  690  2019
2   180                           Eritrea                  600  2011
3   181                             Sudan                  590  2019
4   182                           Liberia                  580  2019
5   183                             Niger                  560  2019
6   184                       Afghanistan                  540  2019
7   185                        Madagascar                  520  2019
8   186  Democratic Republic of the Congo                  520  2019
9   187          Central African Republic                  520  2019
10  188                      Sierra Leone                  500  2019
11  189                        Mozambique                  480  2019
12  190                            Malawi                  380  2019
13  191                           Burundi                  280  2019
14  192                           Somalia                  130  1990, 'Table_9': 0               High-income group
1                         Andorra
2     British Virgin Islands (UK)
3      Cook Islands (New Zealand)
4         Faroe Islands (Denmark)
5                  Gibraltar (UK)
6                       Guam (US)
7                          Monaco
8   Northern Mariana Islands (US)
9           Saint Martin (France)
10                     San Marino
11     Sint Maarten (Netherlands)
12       U.S. Virgin Islands (US)
13      Upper-middle-income group
14            American Samoa (US)
15               Low-income group
16                    North Korea}, {})
Table_1 was saved in CSV format!
Table_2 was saved in CSV format!
Table_3 was saved in CSV format!
Table_4 was saved in CSV format!